<div ng-hide="!pGuardado" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" ng-click="pGuardado = false" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <span class="glyphicon glyphicon-ok"></span>
  Sus datos se guardaron correctamente
</div>


<h4 class="f-black tittle-panel-2 ">{{pagina.nombre}}
  <a href="" ng-click="cerrarNivel1()" style="float:right;">
    <img src="images/icon-8.png">
  </a>
</h4>
<div class="form-panel">
  <h4  class="f-black">Header Image</h4>
  <div class="col-lg-12 col-line">
    <label for="titulo">Titulo Header</label>
    <input type="text" id="titulo" ng-model="pagina.secciones[0].titulo" class="form-control">

  </div>

  <div class="col-lg-12 col-line">
    <label for="imagen">Imagen</label>
    <input type="text" id="imagen" ng-model="pagina.secciones[0].imagen" class="form-control">

  </div>

  <h4  class="f-black">Contenido</h4>
  <div class="col-lg-12 col-line">
    <label for="titulo2">Titulo</label>
    <input type="text" id="titulo2" ng-model="pagina.secciones[1].titulo" class="form-control">

  </div>

  <div class="col-lg-12 col-line">
    <label for="texto">Texto</label>
    <div trumbowyg-ng ng-model="pagina.secciones[1].texto" id="texto" >
            </div>
  </div>

  <div class="col-lg-6 col-iz btn-panel-bottom">
    <button ng-click="cerrarNivel2()" class="btn btn-gray">Cancelar</button>
  </div>

  <div class="col-lg-6 col-line btn-panel-bottom" >
    <button ng-click="guardar_pagina(pagina)" class="btn btn-red">Guardar</button>
  </div>

</div>
