





<div class="tabla-nav">
  <h4 class="f-black tittle-panel-2 ">Aprende Francés
<a href="" ng-click="cerrarNivel1()" style="float:right;">
  <img src="images/icon-8.png">
</a>
    </h4>

<table  border="1"  style="border-color:#d7d7d7;border-style:solid;border-width:1px;">
  <tr>
    <td colspan="2"><a href="#/archivoCursos">Subir Archivo</a></td>
  </tr>
<tr>
          <td>Adultos</td><td><a href="" ng-click="v[0] = !v[0]" ><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
  <tr ng-show="v[0]">
  <td colspan="2">
      <table border="1" style="width: auto; margin-left: 7%; margin:0 auto;
      border-color:#d7d7d7;border-style:solid;border-width:1px;">
        <tr>
          <td>Intensidades</td><td><a href="" ng-click="crearTablaNivel2('intensidades')"><span ><img src="images/icon-9.png"></span></a></td>
        </tr>
        <tr>
          <td>Niveles</td><td><a href="" ng-click="crearTablaNivel2('niveles')"><span ><img src="images/icon-9.png"></span></a></td>
        </tr>
        <tr>
          <td>Frecuencias</td><td><a href="" ng-click="crearTablaNivel2('frecuencias')"><span ><img src="images/icon-9.png"></span></a></td>
        </tr>
        <tr>
          <td>Cursos</td><td><a href="" ng-click="crearTablaNivel2('cursosadultos')"><span ><img src="images/icon-9.png"></span></a></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>Jóvenes</td><td><a href="" ng-click="seleccionarPagina('jovenes')"><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
  <tr>
    <td>Niños</td><td><a href="" ng-click="seleccionarPagina('ninos')"><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
  <tr>
    <td>Cursos en línea</td><td><a href="" ng-click=""><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
  <tr>
    <td>Cursos temáticos</td><td><a href="" ng-click="seleccionarPagina('cursosTematicos')"><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
  <tr>
    <td>Francés con objetivos universitarios</td><td><a href="" ng-click="seleccionarPagina('fou')"><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
  <tr>
    <td>Clases partículares</td><td><a href="" ng-click="seleccionarPagina('clasesParticulares')"><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
  <tr>
    <td>Test en línea</td><td><a href="" ng-click=""><span ><img src="images/icon-9.png"></span></a></td>
  </tr>
</table>
</div>
