<h4 class="f-black tittle-panel-2 ">{{entidad.nombre}} 
<a href="" ng-click="cerrarNivel2()" style="float:right;">
  <img src="images/icon-8.png">
</a>
    </h4>

<div class="form-panel width1">
<form>
<div class="col-lg-12 col-line col-spacing">
    <label for="nombre">Nombre Header</label>
    <input type="text" id="nombre" ng-model="entidad.nombre" placeholder="Nombre" class="form-control">
</div>

<div class="col-lg-12 col-line col-spacing">
    <label for="icono">Icono</label>
    <input type="text" id="icono" ng-model="entidad.icono" placeholder="Icono" class="form-control">
</div>

<div class="col-lg-6 col-iz btn-panel-bottom">
<button ng-click="cerrarNivel2()" class="btn btn-gray">Cancelar</button>
</div>

<div class="col-lg-6 col-line btn-panel-bottom" >
<button ng-click="guardar_pagina(pagina)" type="submit" class="btn btn-red">Guardar</button>
</div>


</form>
<br>
<a ng-hide="entidadNueva" href="" confirmed-click="eliminarEntidad()" class="f-black" ng-confirm-click="Esta seguro que desea eliminar este elemento?">
  <img src="images/icon-11.png"> Eliminar
</a>
<br>


</div>



<div class="tabla-nav">
<h4>Lista de Eventos</h4>
<table  border="1"  style="border-color:#d7d7d7;border-style:solid;border-width:1px;margin-top:0;width:100%;" class="upper">

  <tr >
          <td colspan="3" class="text-center"><a href="" class="f-red" ng-click="v[0] = !v[0]" >Nuevo Evento</a></td>
          
  </tr>
  <tr>
    <td colspan="3" ng-show="v[0]">
            <form   class="form-panel form-font width1">
  <div class="col-lg-6 col-iz col-spacing">
      <label for="Nombre">Nombre</label>
      <input placeholder="Nombre" type="text" ng-model="nuevo_evento.nombre" class="form-control">
  </div>
  <div class="col-lg-6 col-line col-spacing">
      <label for="Nombre">Dirección</label>
      <input placeholder="Dirección" type="text" ng-model="nuevo_evento.direccion" class="form-control">
  </div>
  <div class="col-lg-6 col-iz col-spacing">
      <label for="valor">Valor</label>
      <input placeholder="Valor" type="text" ng-model="nuevo_evento.valor" class="form-control">
  </div>
  <div class="col-lg-6 col-line col-spacing">
      <label for="link">Link</label>
      <input placeholder="Link" type="text" ng-model="nuevo_evento.link" class="form-control">
  </div>
  <div class="col-lg-6 col-iz col-spacing">
      <label for="fecha">Fecha</label>
      <input placeholder="Fecha" type="text" ng-model="nuevo_evento.fecha" class="form-control">
  </div>
  <div class="col-lg-6 col-line col-spacing">
      <label for="link">Hora</label>
      <input placeholder="Link" type="time" ng-model="nuevo_evento.hora" class="form-control">
  </div>
  <div class="col-lg-12 col-line col-spacing">
      <label for="descripcion">Descripción</label>
      <div trumbowyg-ng ng-model="nuevo_evento.descripcion" >
      </div>
  </div>
  <div class="col-lg-12 col-line col-spacing">
      <label for="imagen">Imagen</label>
      <input placeholder="Imagen" type="text" ng-model="nuevo_evento.imagen" class="form-control">
  </div>
  <div class="col-lg-12 col-line col-spacing">
      <label for="imagen">Sede</label>
      <select ng-model="nuevo_evento.sede" ng-options="ent.id as ent.nombre for ent in mul.sedes" >
        <option selected >Sede</option>
      </select>
  </div>
<div class="col-lg-6 col-iz btn-panel-bottom" >
<button ng-click="ver[0]" class="btn btn-gray">Cancelar</button>
</div>
<div class="col-lg-6 col-line btn-panel-bottom" >
<button ng-click="crear_entidad('eventos', nuevo_evento, 1)" class="btn btn-red">Guardar</button>
</div>

</form>
          </td>
  </tr>

  
</table>

<ul class="upper">
<div ng-repeat="evento in entidad.eventos">
<li class="li-table1">
  <a href="" class="f-black name-table" ng-click="v[evento.id] = !v[evento.id]">{{evento.nombre}} </a>
  <a href="" confirmed-click="eliminar_entidad('eventos',evento, 1)" ng-confirm-click="Esta seguro que desea eliminar este elemento?" class="a-edit-table">
    <img src="images/icon-11.png">
  </a>
  <a href="" ng-click="v[evento.id] = !v[evento.id]" class="a-edit-table">
    <img src="images/icon-9.png">
  </a>
  
</li>
<li class="li-table1" ng-show="v[evento.id]">
  <form  class="form-panel form-font width1">
  <div class="row">
    <div class="col-lg-6 col-iz col-spacing">
      <label for="Nombre">Nombre</label>
      <input placeholder="Nombre" type="text" ng-model="eve.nombre" class="form-control">
  </div>
  <div class="col-lg-6 col-line col-spacing">
      <label for="Nombre">Dirección</label>
      <input placeholder="Dirección" type="text" ng-model="evento.direccion" class="form-control">
  </div>
  </div>
  <div class="row">

  <div class="col-lg-6 col-iz col-spacing">
      <label for="valor">Valor</label>
      <input placeholder="Valor" type="text" ng-model="evento.valor" class="form-control">
  </div>
  <div class="col-lg-6 col-line col-spacing">
      <label for="link">Link</label>
      <input placeholder="Link" type="text" ng-model="evento.link" class="form-control">
  </div>
  </div>
  <div class="row">
  <div class="col-lg-6 col-iz col-spacing">
      <label for="fecha">Fecha</label>
      <input placeholder="Fecha" type="text" ng-model="evento.fecha" class="form-control">
  </div>
  <div class="col-lg-6 col-line col-spacing">
      <label for="link">Hora</label>
      <input placeholder="Link" type="time" ng-model="evento.hora" class="form-control">
  </div>
  </div>
  <div class="row">

  <div class="col-lg-12 col-line col-spacing">
      <label for="descripcion">Descripción</label>
      <div trumbowyg-ng ng-model="evento.descripcion" >
      </div>
  </div>
  </div>
  <div class="row">
  <div class="col-lg-12 col-line col-spacing">
      <label for="imagen">Imagen</label>
      <input placeholder="Imagen" type="text" ng-model="evento.imagen" class="form-control">
  </div>
  <div class="col-lg-12 col-line col-spacing">
      <label for="imagen">Sede</label>
      <select ng-model="evento.sede" ng-options="ent.id as ent.nombre for ent in mul.sedes" >
        <option selected >Sede</option>
      </select>
  </div>
</div>
<div class="row">
<div class="col-lg-6 col-line btn-panel-bottom" >
<button ng-click="actualizar_entidad('eventos', evento)" class="btn btn-red">Guardar</button>
</div>
<div class="col-lg-6 col-line btn-panel-bottom" >
<button ng-click="v[evento.id]" class="btn btn-gray">Cerrar</button>
</div>
  
</div>

    </form>
</li>
</div>

</ul>

</div>



