<h4 class="f-black tittle-panel-2 ">Frecuencias
    <a href="" ng-click="cerrarNivel2()" style="float:right;">
        <img src="images/icon-8.png">
    </a>
</h4>

<div class="tabla-nav">

    <ul class="upper">
        <li class="li-first text-center" >
            <a href="" class="f-red" ng-click="ver[0]=!ver[0]" >Nueva</a>
        </li>
        <form  ng-show="ver[0]" class="form-panel form-font">
            <div class="col-lg-6 col-iz col-spacing">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" ng-model="entidad.nombre" placeholder="Nombre" class="form-control">
            </div>
            <div class="col-lg-6 col-line col-spacing">
                <label for="descripcion">Descripción</label>
                <div trumbowyg-ng ng-model="entidad.descripcion" id="descripcion" >
                </div>
            </div>

            <div class="col-lg-6 col-iz btn-panel-bottom">
                <button ng-click="ver[0] = !ver[0]" class="btn btn-gray">Cancelar</button>
            </div>
            <div class="col-lg-6 col-line btn-panel-bottom" >
                <button ng-click="crear_entidad('frecuencias',entidad, 2)" class="btn btn-red">Guardar</button>
            </div>
        </form>
        <li class="li-table1" ng-repeat="miEntidad in tabla">
            <a href="" class="f-black" ng-click="ver[miEntidad.id] = !ver[miEntidad.id]">{{miEntidad.nombre}} </a>
            <a href="" confirmed-click="eliminar_entidad('frecuencias', miEntidad, 2)" ng-confirm-click="Esta seguro que desea eliminar este elemento?" class="a-edit-table">
                <img src="images/icon-11.png">
            </a>
            <a href="" ng-click="ver[miEntidad.id] = !ver[miEntidad.id]" class="a-edit-table">
                <img src="images/icon-9.png">
            </a>
            <form ng-show="ver[miEntidad.id]" style="margin-top:20px">
                <div class="col-lg-6 col-iz col-spacing">
                    <label for="nombre1">Nombre</label>
                    <input id="nombre1" type="text" ng-model="miEntidad.nombre" placeholder="Nombre" class="form-control">
                </div>
                <div class="col-lg-6 col-line col-spacing">
                    <label for="descripcion1">Descripción</label>
                    <div trumbowyg-ng ng-model="miEntidad.descripcion"  id="descripcion1r">
                </div>
                </div>
                <div class="col-lg-6 col-iz btn-panel-bottom">
                    <button ng-click="ver[miEntidad.id] = !ver[miEntidad.id]" class="btn btn-gray">Cancelar</button>
                </div>
                <div class="col-lg-6 col-line btn-panel-bottom" >
                    <button ng-click="actualizar_entidad('frecuencias',miEntidad)" class="btn btn-red">Guardar</button>
                </div>
            </form>
        </li>
    </ul>

</div>
