
  

<h4 class="f-black tittle-panel-2 ">{{entidad.nombre}} 
<a href="" ng-click="cerrarNivel2()" style="float:right;">
  <img src="images/icon-8.png">
</a>
    </h4>

<div class="form-panel width1">
<form>
<div class="col-lg-6 col-iz col-spacing">
  <label for="nombre">Nombre</label>
  <input type="text" ng-model="entidad.nombre" placeholder="Nombre" class="form-control">
</div>
<div class="col-lg-6 col-line col-spacing">
  <label for="telefono">Teléfono</label>
  <input type="text" ng-model="entidad.telefono" placeholder="Teléfono" class="form-control">
</div>
<div class="col-lg-12 col-line col-spacing">
  <label for="">Dirección</label>
  <input type="text" ng-model="entidad.direccion" placeholder="Dirección" class="form-control">
</div>

<div class="col-lg-12 col-line col-spacing">
  <label for="horarios">Horarios</label>
  <input type="text" ng-model="entidad.horarios" placeholder="Horarios" class="form-control">
</div>


<div class="col-lg-12 col-line col-spacing">
  <label for="titulo_descripcion">Titulo de la descripcion</label>
  <input type="text" ng-model="entidad.titulo_descripcion" placeholder="Titulo de la descripcion" class="form-control">
</div>

<div class="col-lg-12 col-line col-spacing">
  <label for="">Descripción</label>
<div trumbowyg-ng ng-model="entidad.descripcion" >
            </div>
</div>



<div class="col-lg-6 col-iz col-spacing">
  <label for="">Latitud</label>
  <input type="text" ng-model="entidad.latitud" placeholder="Latitud" class="form-control">
</div>
<div class="col-lg-6 col-line col-spacing">
  <label for="">Longitud</label>
  <input type="text" ng-model="entidad.longitud" placeholder="longitud" class="form-control">
</div>

<div class="col-lg-12 col-line col-spacing">
  <label for="">Imagen</label>
  <input type="text" ng-model="entidad.imagen" placeholder="Imagen" class="form-control">
</div>

<div class="col-lg-12 col-line col-spacing">
  <label for="">Ciudad</label>
  <select ng-model="entidad.ciudad" ng-options="ciudad.id as ciudad.nombre for ciudad in mul.ciudades" class="form-control"></select>
</div>


<div class="col-lg-6 col-iz btn-panel-bottom">
<button ng-click="cerrarNivel2()" class="btn btn-gray">Cancelar</button>
</div>

<div class="col-lg-6 col-line btn-panel-bottom" >
<button type="submit" ng-click="guardarEntidad()" class="btn btn-red">Guardar</button>
</div>

<div class="col-lg-12 col-spacing col-line ">
  
<a class="f-black" ng-hide="entidadNueva" href="" confirmed-click="eliminarEntidad()" ng-confirm-click="Esta seguro que desea eliminar este elemento?">
  <span > <img src="images/icon-11.png"> </span>Eliminar
</a>
</div>
</form>



