<div class="container text-center" style="margin-top:180px;">
	<h1 class="f-black">CARRITO DE COMPRA</h1>
</div>
<br>
<div ng-show="error">
	{{error}}
</div>

<ul>
	<li ng-repeat="producto in productos">
		{{producto.referencia}}<br>
		{{producto.nombre}}<br>
		{{producto.titulo}}<br>
		{{producto.descripcion}}<br>
		<input type="text" ng-model="producto.codigo_promo" />
		<button ng-click="agregarCodigoPromo(producto)">Agregar Codigo promo</button><br>
		<img src="{{producto.imagen}}" alt="{{producto.nombre}}"><br>
		<button ng-click="eliminarProducto(producto)">Eliminar</button>
	</li>
</ul>
<br><br>
<button ng-click="">Comprar</button>