    <header class="intro">

        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Cuando te sientes linda, tu vida se convierte en algo mágico</h1>
                    </div>
                </div>
            </div>
        </div>
        
    </header>
    <!-- LILY SECTION -->
    <div class="container-fluid div-product">
        <div class="lirio1" id="lirio1"></div>
        <div class="lirio2" id="lirio2"></div>
        <div class="container line-home">
            <div class="col-md-6  div-modelo div-img-content"  title="1" accesskey="1">
                <img src="images/lily/modelo.png"  id="modelo">
                <div class="img-product-lily" id="img-product-lily"></div>
                <div class="lirio3" id="lirio3"></div>

            </div>
            <div class="col-md-6" title="2" accesskey="2">
                <div class="div-lily-content">

                    <h2>LA ESENCIA DE LO<br>QUE ERES</h2>
                <p>Ahora también es posible tener el perfume que deseas, sé una mujer clásica y sofisticada con los suaves y delicadas notas de nuestra fragancia <b>Lily</b>.</p>
                </div>
                <div class="ul-prices">   
                <ul class="list-inline">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 980 likes</h3></li>

                </ul>
                <a href="" ng-click="verProducto('perfume-Lily')"  class="btn btn1">Ver Producto</a>
                </div>
            </div>  
            </div>
    </div>
    <!-- LILY SECTION -->
<br><br><br><br><br><br><br><br><br><br>
    <!-- MAKE B SECTION -->
    <div class="container-fluid div-product">
        <div class="pintura1" id="pintura1" style="z-index:1;"></div>

        <div class="pintura2" id="pintura2" style="z-index:6;"></div>
        <div class="container line-home">
            <div class="col-md-6" title="4" accesskey="3" style="z-index:7;">
                <div class="div-make-b-content" id="div-make">

                    <h2>DALE COLOR A<br>TUS DÍAS</h2>
                    <p>Dale a tus días un color intenso y potente con <b>Make B.</b> Tan pronto lo pruebes no querrás dejarlo de usar.</p>
                    <ul class="list-inline">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 980 likes</h3></li>
                </ul>
                <a href="" ng-click="verProducto('labial-Make-B')"  class="btn btn1">Ver Producto</a>
                </div>

                

            </div>

            <div class="col-md-6 div-modelo div-img-make-b" title="3" accesskey="4" >
                <img src="images/make-b/modelo.png"  style="z-index:30;">
                <div class="img-product-make-b" id="img-product-make-b"></div>
        <div class="pintura3" id="pintura3" style="z-index:4;"></div>

                </div>  

            </div>
    </div>
    <!-- MAKE B SECTION -->
<br><br><br><br><br><br>

<!-- NATIVA SECTION -->
    <div class="container-fluid div-product">
        <div class="nativa1" id="nativa1"></div>
        <div class="nativa2" id="nativa2" style="z-index:12"></div>
        <div class="container line-home">
            <div class="col-md-6 div-modelo div-img-content1" title="5" accesskey="5" >
                <div class="nativa3" id="nativa3" style="z-index:13;"></div>
                <img src="images/nativa/modelo.png"  id="modelo" style="z-index:14;">
                <div class="img-product-nativa" id="img-product-nativa" style="z-index:15;"></div>

            </div>
            <div class="col-md-6" title="6" accesskey="6" >
                <div class="div-nativa-content">
                    <h2>POR UN MOMENTO DE SPA TODOS<br>LOS DÍAS DEL AÑO</h2>
                <p>Para relajarte, consentirte y cuidarte no necesitas pasar todo el día en un spa. ¡Déjate llevar por el encanto de Nativa SPA, lleno de aromas, texturas y colores!
</p>
                </div>
                <div class="ul-prices-1">   
                <ul class="list-inline">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$84.800</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 300 likes</h3></li>

                </ul>
                <a href="" ng-click="verProducto('Nativa-Spa')"  class="btn btn1">Ver Producto</a>
                </div>
            </div>  
            </div>
    </div>
    <!-- NATIVE SECTION -->



    <br><br><br><br><br><br><br><br><br><br>


    <!-- MALBEC SECTION -->
    <div class="container-fluid div-product">
        <div class="container line-home">
            <div class="col-md-6 " title="8" accesskey="7" style="z-index:6;">
                <div class="div-malbec-content">
                    <h2>DEJA QUE LA<br>LA MAGIA SUCEDA</h2>
                    <p>Con <b>Malbec</b> si es posible realizar tu presencia,<br>Un aroma diseñado para hombres contemporáneos, imponentes y elegantes.</p>
                    <ul class="list-inline">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 980 likes</h3></li>
                </ul>
                <a href="" ng-click="verProducto('Malbec')"  class="btn btn1">Ver Producto</a>
                </div>

                

            </div>

            <div class="col-md-6 div-modelo div-img-malbec"  title="7" accesskey="8" >
                <img src="images/malbec/modelo.png"  style="z-index:5">
                <div class="img-product-malbec" id="img-product-malbec"></div>

                </div>  

            </div>
    </div>
    <!-- MAKE B SECTION -->


<div id="myModal"  class="modal fade bd-example-modal-lg" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-5 col-md-5  div-new-img"><img src="images/new-oboticario.jpg" class="img-reponsive"> </div>
        <div class="col-lg-7 col-md-7 div-new-text text-center">
        
            <p>Porque queremos que te sientas linda construimos<br>para ti, el primer ecommerce donde puedes comprar<br> nuestros productos con likes de facebook</p>
            <p class="f-color1">
                Suscribete y recibe un código para sumar 120 likes de<br>regalo para tu primera compra
            </p>

            <div style="padding-left:80px;padding-right: 70px;margin-top:40px;">
                <input type="text" name="nombre" class="form-control" placeholder="Nombre Completo">
                <input type="text" name="nombre" class="form-control" placeholder="Correo Electrónico" required="">
                <div class="radio text-left" style="font-size:12px;">
                <input type="radio" id="test1" name="radio-group"  required>
                <label for="test1" class="f-black">Acepto<a style="text-decoration:underline;color:#000;" ng-href="#/terminos-y-condiciones" target="_blank"> Términos y Condiciones</a></label>
              </div>
              <br>
                <a href="" style="width:100%;" class="btn btn1">Suscribirme</a>
   <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
            </div>

             
        
        
        
        </div>
    </div>
      
    </div>

  </div>
</div>



<br>
<br>
<br>
<header class="intro-1" style="height:568px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">

                        <h3 class="f-white" >oBoticário, cree en la belleza.<br>Porque cuando te sientes linda, lo mágico ocurre</h3>
                        <br><br>
                        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="sharingPost()"><i class="fa fa-facebook"></i>Compartir</a>
        
                    </div>
                </div>
            </div>
        </div>
    </header>

<script type="text/javascript">
    function parallax () {
  var layer_1= document.getElementById('lirio1');
  var layer_2= document.getElementById('lirio2');
  var layer_8= document.getElementById('lirio3');

  var layer_3= document.getElementById('pintura1');
  var layer_4= document.getElementById('pintura2');
  var layer_6= document.getElementById('pintura3');

  var layer_12= document.getElementById('nativa1');
  var layer_13= document.getElementById('nativa2');
  var layer_14= document.getElementById('nativa3');

  var layer_7= document.getElementById('img-product-lily');
  var layer_9= document.getElementById('img-product-make-b');
  var layer_10= document.getElementById('img-product-nativa');
  var layer_11= document.getElementById('img-product-malbec');


              //aplicando possición
              layer_1.style.top= -(window.pageYOffset / 20) +'%';
              layer_2.style.top= -(window.pageYOffset / 300) +'%';
              layer_3.style.top= -(window.pageYOffset / 2) +'px';
              layer_4.style.bottom= +(window.pageYOffset /2) +'px';
              layer_6.style.top= -(window.pageYOffset /14) +'px';
              layer_7.style.bottom= +(window.pageYOffset /35) +'%';
              layer_9.style.bottom= +(window.pageYOffset /15) +'%';
              layer_10.style.bottom= +(window.pageYOffset /15) +'%';
              layer_11.style.bottom= +(window.pageYOffset /15) +'%';
              layer_8.style.bottom= +(window.pageYOffset /60) +'%';

              layer_12.style.bottom= +(window.pageYOffset /15) +'%';
              layer_13.style.top= -(window.pageYOffset / 3) +'px';


}
window.addEventListener("scroll", parallax, false);
$(document).ready(function () {
    parallax ();
  });
</script>