

<div class="container text-center div-intro" id="home-welcome">
                <div class="row">
                    <div class="col-md-12">
                        <h1>oBoticário trae a Colombia el <br> primer  e-commerce donde podrás <br> <span style="color:#1a5aa8;">comprar  con likes</span> </h1>
                    </div>
                </div>
</div>


            <br>

    <!-- LILY SECTION -->
    <div class="container-fluid div-product">
        <div class="lirio1 hidden-sm hidden-xs" id="lirio1"></div>
        <div class="lirio2 hidden-sm hidden-xs" id="lirio2"></div>
        <div class="container line-home">
            <div class="col-md-6  div-modelo div-img-content"  title="1" accesskey="1">
                <img src="images/lily/modelo.png"  id="modelo">

                <img src="images/lily/mobil.png" class="img-products img-reponsive text-center hidden-lg hidden-md visible-sm visible-xs">

                <div class="img-product-lily hidden-sm hidden-xs" id="img-product-lily"></div>

                <div class="lirio3 hidden-sm hidden-xs" id="lirio3"></div>

            </div>
            <div class="col-md-6" title="2" accesskey="2">
                <div class="div-lily-content">

                    <h2 style="text-transform: uppercase;">Si eres una mujer romántica y sofisticada, Lily es para ti</h2>
                    <p>Nuestro perfume Lily rescata la técnica artesanal del Enfleurage para traer la esencia del lirio, transformamos dicha técnica para lograr una fragancia única, delicada y sofisticada para todas las mujeres amantes de los aromas frutales y florales.</p>
                </div>
                <div class="ul-prices">
                <ul class="list-inline">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$209.800</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 500 likes</h3></li>

                </ul>
                <a href="" ng-click="verProducto('perfume-Lily')"  class="btn btn1 btn-product">Ver Producto</a>
                </div>
            </div>
            </div>
    </div>
    <!-- LILY SECTION -->
<br><br><br>
    <!-- MAKE B SECTION -->
    <div class="container-fluid div-product">
        <div class="pintura1 hidden-sm hidden-xs" id="pintura1" style="z-index:1;"></div>

        <div class="pintura2 hidden-sm hidden-xs" id="pintura2" style="z-index:6;"></div>
        <div class="container line-home ">
            <div class="col-md-6" title="4" accesskey="3" style="z-index:7;">
                <div class="div-make-b-content" id="div-make">

                    <h2 style="text-transform: uppercase;">Con make B llena tus días de color</h2>
                    <p>Nuestra línea profesional de maquillaje que cuida y se adapta a tu piel, cuenta con más de 100 opciones para crear un look diferente todos los días. </p>
                    <ul class="list-inline ul-right-prices">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$110.700</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 400 likes</h3></li>
                </ul>
                <div class="text-center">

                <a href="" ng-click="verProducto('labial-Make-B')"  class="btn btn1 btn-product">Ver Producto</a>
                </div>
                </div>



            </div>

            <div class="col-md-6 div-modelo div-img-make-b" title="3" accesskey="4" >
                <img src="images/make-b/modelo.png"  style="z-index:30;">
                <div class="img-product-make-b hidden-sm hidden-xs" id="img-product-make-b"></div>
                <img src="images/make-b/mobil.png" class="img-products-1 img-reponsive text-center hidden-lg hidden-md visible-sm visible-xs">
        <div class="pintura3 hidden-sm hidden-xs" id="pintura3" style="z-index:4;"></div>

                </div>

            </div>
    </div>
    <!-- MAKE B SECTION -->
<br><br><br><br><br>

<!-- NATIVA SECTION -->
    <div class="container-fluid div-product">
        <div class="nativa1 hidden-sm hidden-xs" id="nativa1"></div>
        <div class="nativa2 hidden-sm hidden-xs" id="nativa2" style="z-index:12"></div>
        <div class="container line-home">
            <div class="col-md-6 div-modelo div-img-nativa" title="5" accesskey="5" >
                <div class="nativa3 hidden-sm hidden-xs" id="nativa3" style="z-index:13;"></div>

                <img src="images/nativa/modelo.png" class="img-modelo-nativa" id="modelo" style="z-index:14;">

                <img src="images/nativa/mobil.png" class="img-products-1 img-reponsive text-center hidden-lg hidden-md visible-sm visible-xs">


                <div class="img-product-nativa hidden-sm hidden-xs" id="img-product-nativa" style="z-index:15;"></div>

            </div>
            <div class="col-md-6" title="6" accesskey="6" >
                <div class="div-nativa-content">
                    <h2 style="text-transform:uppercase;">Por un momento de relajación todos los días del año con Nativa SPA</h2>
                <p>Una de las líneas de Nativa SPA está compuesta por extracto Ameixa (ciruela) fruta nativa de Europa y Asia, rica en propiedades nutritivas y antioxidantes que proporciona una hidratación profunda mientras perfuma la piel con una fragancia exquisita y duradera.
                </p>
                </div>
                <div class="ul-prices-1">
                <ul class="list-inline">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$84.800</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 300 likes</h3></li>

                </ul>
                <div class="text-center">

                <a href="" ng-click="verProducto('Nativa-Spa')"  class="btn btn1 btn-product">Ver Producto</a>
                </div>
                </div>
            </div>
            </div>
    </div>
    <!-- NATIVE SECTION -->



    <br><br>


    <!-- MALBEC SECTION -->
    <div class="container-fluid div-product">
        <div class="container line-home">
            <div class="col-md-6 " title="8" accesskey="7" style="z-index:6;">
                <div class="div-malbec-content">
                    <h2>SI QUIERES DEJAR HUELLA,   MALBEC ES LA MEJOR OPCIÓN</h2>
                    <p>Hecho a base de alcohol vínico y añejado en barriles de roble francés, Malbec cuenta con ese perfil amaderado que combina la sofisticación artesanal de los grandes vinos, con la sutileza de un gran perfume.  Un perfecto aroma para hombres que saben imponerse y que quieren dejar huella por donde pasan.</p>
                    <ul class="list-inline ">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$133.800</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 500 likes</h3></li>
                </ul>
                <div class="text-center">
                <a href="" ng-click="verProducto('Malbec')"  class="btn btn1 btn-product">Ver Producto</a>
                </div>
                </div>

            </div>


            <div class="col-md-6 div-modelo div-img-malbec"  title="7" accesskey="8" >
                <img src="images/malbec/modelo.png"  style="z-index:5">
                <div class="img-product-malbec hidden-sm hidden-xs" id="img-product-malbec"></div>
                <img src="images/malbec/mobil.jpg" class="img-products-1 img-reponsive text-center hidden-lg hidden-md visible-sm visible-xs">

                </div>

            </div>
    </div>
    <!-- MAKE B SECTION -->


    


<div id="myModal"  class="modal fade bd-example-modal-lg" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-5 col-md-5 hidden-sm hidden-xs div-new-img"><img src="images/new-oboticario.jpg" style="min-height:100%;" class="img-reponsive"> </div>
        <div class="col-lg-7 col-md-7 div-new-text text-center">
        <p class="f-black">Estamos inspirados en una mujer alegre, contemporánea y encantadora que cree fielmente en el poder transformador que tiene la belleza. Es por esto que hemos creado para ti el primer e-commerce dónde podrás comprar nuestros productos con Likes, sí así es, con Likes.</p>
        <p class="f-color1"><b>Suscríbete y recibe 40 likes de regalo para tu primera compra</b></p>

            <div class="div-form-new">
                <form>
                    <input type="text" name="nombre" ng-model="usuarioNl.nombre" class="form-control" placeholder="Nombre Completo">
                    <input type="email" name="nombre" ng-model="usuarioNl.correo" class="form-control" placeholder="Correo Electrónico" required>
                    <small ng-if="errorEmail" class="f-color1">Correo Invalido</small>
                    <div class="radio text-left" style="font-size:12px;">
                        <input type="radio" id="test1" name="radio-group" ng-model="terminosCondiciones" value="aceptado" required="required">
                        <label for="test1" class="f-black">Acepto<a style="text-decoration:underline;color:#000;" ng-href="#/terminos-y-condiciones" target="_blank"> Términos y Condiciones</a></label>
                    <small ng-if="errorTerminos" class="f-color1">Acepte Términos y Condiciones</small>

                    </div>
                    <br>
                    <button type="submit" ng-click="registrarNewsletter(usuarioNl.correo)" href="" style="width:100%;" class="btn btn1 btnsubmitnew">Suscribirme</button>
                    <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
                </form>
            </div>





        </div>
    </div>

    </div>

  </div>
</div>


<br>
<br>
<br>



<div id="myModalshared"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center" style="">
        <br>
                
                            <input type="text" name="estadoFacebook" ng-model="estadoFacebook" class="form-control text-center" placeholder="Escribe algo...">
                            <small><b>*Comenta con el Hashtag #CreeEnLaBelleza</b></small> <br><br>
                            <a class="btnn1 btn-social btn-lg btn-facebook"  ng-click="sharingPost(estadoFacebook)" ><i class="fa fa-facebook"></i>Compartir</a>
        </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center div-message-shared" style="padding-bottom:30px;">

        <h4 class="f-black">¡Gracias por compartir!</h4>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">Salir</a>
        </div>
    </div>
      
    </div>

  </div>
</div>