<div class="container div-content-view">
<div class="list-url">
	<a ng-click="showView('inicio')" class="not-under f-color1">Home </a> > NativaSpa
</div>


<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-6 div-img-details" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        	<img src="images/nativa/img-native-1.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="1">
                                        	<img src="images/nativa/img-native-1.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="2">
                                        	<img src="images/nativa/img-native-1.jpg" class="img-responsive">
                                        </div>

                                    </div><!-- Carousel nav -->
                <div class=" hidden-xs" id="slider-thumbs">

                                         <ul class="hide-bullets list-pagination-image">

                            <li class="col-sm-4">
				
                                <a href="" id="carousel-selector-0"><img src="images/nativa/mini-img-native-2.png" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4">
                                <a href="" id="carousel-selector-1"><img src="images/nativa/mini-img-native-2.png" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4" style="padding-right:0;margin-right:0;">
                                <a href="" id="carousel-selector-2"><img src="images/nativa/mini-img-native-2.png" class="img-responsive"></a>
                            </li>

                        </ul>     
                </div>
                                    </div>

                            </div>

                            <div class="col-lg-6 div-description-product" >
		<p>	<span style="color:#05a301;">Disponible</span> <span style="float:right;"><img src="images/icons/rating-bar.png"></span></p> 

		<p>	<b>Categoría:</b> Perfumes <span style="float:right;">Ref: 1123214</span></p> 
		<h2>Lily, un perfume Eau De Parfum  para una mujer romántica y sofisticada.</h2>
		<p class="small-p-description-product">
		Nuestro perfume Lily rescata la técnica artesanal del Enfleurage para traer la esencia del lirio, transformamos dicha técnica para lograr una fragancia única, delicada y sofisticada para todas las mujeres amantes de los aromas frutales y florales. 
		</p>
		<ul class="list-inline list-prices-details">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 980 likes</h3></li>
                </ul>

                <a href="" ng-click="anadirProducto('lily')" style="position:relative;" class="btn btn2"><span >	Añadir al carrito</span> <img src="images/icons/icon-add.png" style="position:absolute;top:14px;right:10px;" ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a ng-href="#/Carrito"  class="btn btn1">Ir al carrito de compras</a>


	</div>

                        
                    </div>
                </div><!--/Slider-->
        </div>
</div>
	

                <div class="row div-description-product-extra" >	
                <div class="col-lg-8">
                	<h4>Descripción del kit</h4>
                	<p class="p-description-product">


Presentación de 75 ml contiene aceite esencial de lirio 100% puro y natural. <br>
Su frasco, tapa y válvula son diferenciados, ofrecen mayor personalidad y sofisticación para esta fragancia.
Eau de Parfum, fragancia con mayor concentración de la perfumería (Hasta 8 horas de fijación). <br><br>

Crema Acetinada<br><br>

Presentación de 250 g contiene manteca de karité que brinda humectación intensa y suavidad a la piel.<br>
Este producto proporciona un sutil efecto satinado, posee una textura única que forma uma película protectora sobre la piel dejando un toque suave y sedoso que evita el resecamiento causado por el sol o por el clima frío y seco.  <br>
En un delicado frasco de vidrio Lily crema acetinada envuelve tu piel durante todo el día con una fragancia marcante y sofisticada.<br>
                	</p>
                </div>
                <div class="col-lg-4" >
                	<br>	
                	<br>	<br>	
                	<a href="https://www.youtube.com/watch?v=AAz_kmgSBug" class="btn-video">
                		<img src="images/nativa/nativa-video.jpg" class="img-responsive">
                	</a>
                </div>
                </div>	
					<hr>
					<div class="row">
						<div class="col-lg-4" >
						<div class="thumbnail">
						<img src="images/lily/mini-img-lily.png" alt="">
						<div class="caption ">
							<h4>Lily</h4>
							
							<ul class="list-inline list-prices-details text-center">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h4><small class="f-black">Ahora</small><br> 980 likes</h4></li>
                </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-lg-4" >
                		<div class="thumbnail">
						<img src="images/make-b/mini-img-makeb.png" alt="">
						<div class="caption ">
							<h4>Make B</h4>
							
							<ul class="list-inline list-prices-details text-center">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h4><small class="f-black">Ahora</small><br> 980 likes</h4></li>
                </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-lg-4" >
                		<div class="thumbnail">
						<img src="images/malbec/mini-img-malbec.png" alt="">
						<div class="caption ">
							<h4>Malbec</h4>
							
							<ul class="list-inline list-prices-details text-center">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h4><small class="f-black">Ahora</small><br> 980 likes</h4></li>
                </ul>
						</div>
          				</div>
                		</div>
					</div>

</div>


<br>
<br>
<br>
<header class="intro-1" style="height:568px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h3 class="f-white" >oBoticário, cree en la belleza.<br>Porque cuando te sientes linda, lo mágico ocurre</h3>
                        <br><br>
                        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="sharingPost()"><i class="fa fa-facebook"></i>Cuéntale a tus amigas </a>
        
                    </div>
                </div>
            </div>
        </div>
    </header>

