<div class="container div-content-view">
<div class="list-url">
	<a ng-click="showView('inicio')" class="not-under f-color1">Home </a> > Lily
</div>


<div class="container">
        <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-6 div-img-details" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        	<img src="images/lily/img-lily-1.jpg" class="img-responsive">
                                        </div>
                                        <div class="item" data-slide-number="1">
                                            <img src="images/lily/lily.jpg" class="img-responsive">
                                        </div>
                                        <div class="item" data-slide-number="2">
                                            <img src="images/lily/crema.jpg" class="img-responsive">
                                        </div>


                                    </div><!-- Carousel nav -->
                                    <div class=" hidden-sm hidden-xs" id="slider-thumbs">

                                         <ul class="hide-bullets list-pagination-image">

                            <li class="col-sm-4">
                
                                <a href="" id="carousel-selector-0"><img src="images/lily/mini-img-lily-1.jpg" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4">
                                <a href="" id="carousel-selector-1"><img src="images/lily/perfume-lily-peq.jpg" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4" style="padding-right:0;margin-right:0;">
                                <a href="" id="carousel-selector-2"><img src="images/lily/crema-peq.jpg" class="img-responsive"></a>
                            </li>

                        </ul>     
                </div>
            
                                    </div>

                            </div>

                            <div class="col-lg-6 div-description-product" >
		<p>	<span style="color:#05a301;">Disponible</span> <span style="float:right;"><img src="images/icons/rating-bar.png"></span></p> 

		<p>	<b>Categoría:</b> Perfumería</p> 
		<h2>Si eres una mujer romántica y sofisticada, Lily es para ti</h2>
		<p class="small-p-description-product">
        Nuestro perfume Lily rescata la técnica artesanal del Enfleurage para traer la esencia del lirio, transformamos dicha técnica para lograr una fragancia única, delicada y sofisticada para todas las mujeres amantes de los aromas frutales y florales. 
		</p>
		<ul class="list-inline list-prices-details">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$290.000</span></h4> </li>  
                    <li><h3><small class="f-black">Ahora</small><br> 500 likes</h3></li>
                </ul>

                <div class="links-product">
                    
                
                <a href="" ng-click="anadirProducto('lily')" style="position:relative;" class="btn btn2"><span >{{addCart}}</span> <img src="images/icons/icon-add.png" style="position:absolute;top:14px;right:10px;" ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a  ng-href="#/Carrito" ng-hide="addCart=='COMPRADO'"  class="btn btn1">Ir al carrito de compras</a>
                <a  ng-href="#/conteo-de-likes" ng-if="addCart=='COMPRADO'"  class="btn btn1">Ver el estado de la compra</a>
                </div>

	</div>

                        
                    </div>
                </div><!--/Slider-->
        </div>
</div>
	

                <div class="row div-description-product-extra" >	
                <div class="col-lg-8">
                	<h4>Descripción del kit</h4>
<h4 style="padding-bottom:0;">Perfume LIly</h4>
                	<ul class="p-description-product" >
                    <li>Presentación de 75 ml contiene aceite esencial de lirio 100% puro y natural.</li>
                    <li>Su frasco, tapa y válvula son diferenciados, ofrecen mayor personalidad y sofisticación para esta fragancia.</li>
                    <li>Eau de Parfum, fragancia con mayor concentración de la perfumería (Hasta 8 horas de fijación).</li>
                    </ul>


<h4 style="padding-bottom:0;">Crema Acetinada</h4>
                    <ul class="p-description-product">
                    <li>Presentación de 250 g contiene manteca de karité que brinda humectación intensa y suavidad a la piel.</li>
                    <li>Este producto proporciona un sutil efecto satinado, posee una textura única que forma una película protectora sobre la piel dejando un toque suave y sedoso que evita el resecamiento causado por el sol o por el clima frío y seco.</li>
                    
                	</ul>
                </div>
                <div class="col-lg-4" >
                	<br>	
                	<br>	<br>	
                	<a href="https://www.youtube.com/watch?v=mTaKsRrX9g0" class="btn-video">
                		<img src="images/lily/lily-video.jpg" class="img-responsive">
                	</a>
                </div>
                </div>	
					<hr>
					<div class="row">
                    <div id="effect-1" class="effects clearfix">
    
						<div class="col-sm-4" >
						<div class="thumbnail">
						<img src="images/nativa/mini-img-nativa.png" alt="Nativa Spa - oBoticário Colombia">
                        <div class="overlay1">
                    <a ng-href="#/Nativa-Spa" class="expand">Ver Producto</a>
                    <!-- <a class="close-overlay hidden">x</a> -->
                </div>
						<div class="caption">
							<h4>Nativa Spa</h4>

							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$84.800</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 300 likes</h4></li>
                            </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-sm-4" >

                		<div class="thumbnail">

						<img src="images/make-b/mini-img-makeb.png" alt="Make B - oBoticário Colombia">

                        <div class="overlay1">
                        <a ng-href="#/labial-Make-B" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>

						<div class="caption ">
							<h4>Make B</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$110.700</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 400 likes</h4></li>
                            </ul>
						</div>

          				</div>

                		</div>

                		<div class="col-sm-4" >

                		<div class="thumbnail">

						<img src="images/malbec/mini-img-malbec.png" alt="">

                        <div class="overlay1">
                        <a ng-href="#/Malbec" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>

						<div class="caption ">

							<h4>Malbec</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$133.800</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 500 likes</h4></li>
                            </ul>
						</div>

          				</div>

                		</div>

                    </div>
					</div>

</div>

</div>



<br>
<br>
<br>


<header class="intro-1" style="height:568px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">

                        <h3 class="f-black" style="text-shadow: 1px 1px 11px rgba(200,200, 200, .7);" >Cuando te sientes linda tu vida <br> se convierte en algo mágico</h3>
                        <br><br>

                        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="openmodalShared()"><i class="fa fa-facebook"></i>Cuéntales a todos</a>
        
                    </div>
                </div>
            </div>
        </div>
</header>


<div id="myModalshared"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center" style="padding-bottom:30px;padding-left:30px;padding-right:30px;">
        <br>
                
                            <input type="text" name="estadoFacebook" ng-model="estadoFacebook" class="form-control text-center" placeholder="Escribe algo...">
                            <small><b>*Comenta con el Hashtag #CreeEnLaBelleza</b></small> <br><br>
                            <a class="btnn1 btn-social btn-lg btn-facebook"  ng-click="sharingPost(estadoFacebook)" ><i class="fa fa-facebook"></i>Compartir</a>
        </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center div-message-shared" style="padding-bottom:30px;">

        <h4 class="f-black">¡Gracias por compartir!</h4>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">Salir</a>
        </div>
    </div>
      
    </div>

  </div>
</div>


<div id="myModal1"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center " style="padding-bottom:40px;">

        <h4 class="f-black">¡Comienza a comprar con likes!</h4>
        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="FBLogin()"><i class="fa fa-facebook"></i>
        Ingresar Vía facebook</a>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
        </div>
    </div>
      
    </div>

  </div>
</div>