<div class="container div-product-details">
<div class="list-url">
	<a ng-click="showView('inicio')" class="not-under f-color1">Home </a> > NativaSpa
</div>
	<div class="col-lg-6 div-img-details">
	
		<img src="images/nativa/img-native-1.jpg">
		<div class="row list-pagination-image">
			<div class="col-lg-4 text-center " >
				<img src="images/nativa/mini-img-native-2.png">
			</div>
			<div class="col-lg-4 text-center">
				<img src="images/nativa/mini-img-native-2.png">
			
			</div>
			<div class="col-lg-4 text-center">
				<img src="images/nativa/mini-img-native-2.png" > 
		
			</div>
			
		</div>
	</div>

	<div class="col-lg-6 div-description-product" >
		<p>	<span style="color:#05a301;">Disponible</span> <span style="float:right;"><img src="images/icons/rating-bar.png"></span></p> 

		<p>	<b>Categoría:</b> Maquillajes <span style="float:right;">Ref: 1123214</span></p> 
		<h2>Make B</h2>
		<p class="small-p-description-product">
		Dale a tus días un color intenso y potente con Make B. <br> Tan pronto lo pruebes no querrás dejarlo de usar.

		</p>
		<ul class="list-inline list-prices-details">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 980 likes</h3></li>
                </ul>

                <a href="" ng-click="verProducto('perfume-Lily')" style="position:relative;" class="btn btn2"><span >	Añadir al carrito</span> <img src="images/icons/icon-add.png" style="position:absolute;top:9px;right:10px;" ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" ng-click="verProducto('perfume-Lily')"  class="btn btn1">Ir al carrito de compras</a>
                

	</div>

                <div class="row div-description-product-extra" >	
                <div class="col-lg-8">
                	<h4>Descripción</h4>
                	<p class="p-description-product">
                		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget aliquam metus, quis lobortis velit. Vivamus rhoncus libero eget lectus tempor gravida. Nullam eu sapien in sem maximus interdum. Proin eget ornare enim. Proin pulvinar sem in magna faucibus, vitae dictum tortor pulvinar. Maecenas aliquet vitae lacus ut dictum. Quisque ullamcorper risus commodo lobortis porttitor. Curabitur nec libero enim. Curabitur sed velit rhoncus, cursus odio laoreet, egestas turpis. Praesent tristique risus massa, id sodales sem pellentesque sit amet. Quisque sagittis risus ut urna feugiat egestas. Curabitur augue arcu, elementum sed odio vel, luctus facilisis quam. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                	</p>
                </div>
                <div class="col-lg-4" >
                	<br>	
                	<br>	<br>	
                	<a href="https://www.youtube.com/watch?v=AAz_kmgSBug" class="btn-video">
                		<img src="images/nativa/nativa-video.jpg" class="img-responsive">
                	</a>
                </div>
                </div>	
					<hr>
					<div class="row">
						<div class="col-lg-4" >
						<div class="thumbnail">
						<img src="images/lily/mini-img-lily.png" alt="">
						<div class="caption ">
							<h4>Lily</h4>
							
							<ul class="list-inline list-prices-details text-center">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h4><small class="f-black">Ahora</small><br> 980 likes</h4></li>
                </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-lg-4" >
                		<div class="thumbnail">
						<img src="images/make-b/mini-img-makeb.png" alt="">
						<div class="caption ">
							<h4>Make B</h4>
							
							<ul class="list-inline list-prices-details text-center">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h4><small class="f-black">Ahora</small><br> 980 likes</h4></li>
                </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-lg-4" >
                		<div class="thumbnail">
						<img src="images/malbec/mini-img-malbec.png" alt="">
						<div class="caption ">
							<h4>Malbec</h4>
							
							<ul class="list-inline list-prices-details text-center">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h4><small class="f-black">Ahora</small><br> 980 likes</h4></li>
                </ul>
						</div>
          				</div>
                		</div>
					</div>

</div>


<br>
<br>
<br>
<header class="intro-1" style="height:568px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h3 class="f-white" >oBoticário, cree en la belleza.<br>Porque cuando te sientes linda, lo mágico ocurre</h3>
                        <br><br>
                        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="sharingPost()"><i class="fa fa-facebook"></i>Cuéntale a tus amigas </a>
        
                    </div>
                </div>
            </div>
        </div>
    </header>

