<title>SI QUIERES DEJAR HUELLA, MALBEC ES LA MEJOR OPCIÓN</title>
<meta property="og:type" content="product">
<meta property="og:title" content="SI QUIERES DEJAR HUELLA, MALBEC ES LA MEJOR OPCIÓN">
<meta property="og:description" content="El único perfume en el mundo hecho de alcohol vínico, añejado en barriles de madera francesa que de forma gradual le da al perfume un perfil amaderado único. Para un hombre imponente y elegante que quiere dejar huella por donde pasa.">
<meta property="og:url" content="www.creeenlabelleza.com">
<meta property="og:image" content="https://www.creeenlabelleza.com/images/4Malbec.jpg">
<meta property="fb:app_id" content="398211490530444">
<meta property="product:price:amount" content="500 likes">

<div class="container div-content-view">
<div class="list-url">
	<a ng-click="showView('inicio')" class="not-under f-color1">Home </a> > Malbec
</div>
	    <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-6 div-img-details" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        	<img src="images/malbec/img-malbec-1.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="1">
                                        	<img src="images/malbec/img-malbec-2.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="2">
                                        	<img src="images/malbec/malbec.jpg" class="img-responsive">
                                        </div>

                                    </div><!-- Carousel nav -->
                <div class=" hidden-sm hidden-xs" id="slider-thumbs">

                                         <ul class="hide-bullets list-pagination-image">

                            <li class="col-sm-4">
				
                                <a href="" id="carousel-selector-0"><img src="images/malbec/mini-img-malbec-1.png" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4">
                                <a href="" id="carousel-selector-1"><img src="images/malbec/malbec-shower-peq.jpg" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4" style="padding-right:0;margin-right:0;">
                                <a href="" id="carousel-selector-2"><img src="images/malbec/malbec-peq.jpg" class="img-responsive"></a>
                            </li>

                        </ul>     
                </div>
                                    </div>

                            </div>

          <div class="col-lg-6 div-description-product" >
		<p>	<span style="color:#05a301;">Disponible</span> <span style="float:right;" ><img src="images/icons/rating-bar.png"></span></p> 

		<p>	<b>Categoría:</b> Perfumería</p> 
		<h2>Si quieres dejar huella, Malbec es la mejor opción</h2>
		<p class="small-p-description-product">
        Hecho a base de alcohol vínico y añejado en barriles de roble francés, Malbec cuenta con ese perfil amaderado que combina la sofisticación artesanal de los grandes vinos, con la sutileza de un gran perfume.  Un perfecto aroma para hombres que saben imponerse y que quieren dejar huella por donde pasan.  
		</p>
		<ul class="list-inline list-prices-details">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$133.800</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 500 likes</h3></li>
                </ul>

                <div class="links-product">

                <a href="" ng-click="anadirProducto('malbec')" style="position:relative;" class="btn btn2"><span >{{addCart}}</span> <img src="images/icons/icon-add.png" id="img-button-addCart" style="position:absolute;top:14px;right:10px;" ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a  ng-href="#/Carrito" ng-hide="addCart=='COMPRADO'"  class="btn btn1">Ir al carrito de compras</a>
                <a  ng-href="#/conteo-de-likes" ng-if="addCart=='COMPRADO'"  class="btn btn1">Ver el estado de la compra</a>
                </div>                

	</div>

                        
                    </div>
                </div><!--/Slider-->
        </div>
</div>
	

	

                <div class="row div-description-product-extra" >	
                <div class="col-lg-8">
                	<h4>Descripción del Kit</h4>
                    <h4 style="padding-bottom:0;">Malbec Noir.</h4>
                    <ul class="p-description-product">
                        <li>Presentación 100 ml, es una fragancia hecha a base de alcohol vínico y añejado en barriles de roble francés, Malbec cuenta con ese perfil amaderado que combina la sofisticación artesanal de los grandes vinos, con la sutileza de un gran perfume.</li>
                    </ul>

                    <h4 style="padding-bottom:0;">Malbec Noir Shower gel 2 en 1 cabello y cuerpo.</h4>
                    <ul class="p-description-product">
                        <li>
                            Presentación de 205 ml, limpia el cabello y el cuerpo dando una espuma cremosa y perfumada con la sofisticada fragancia de Malbec Noir.
                        </li>
                        <li>Da suavidad a la piel y el cabello. </li>
                        <li>
                            Un producto práctico para el hombre que quiere dos beneficios en un producto, ideal para ir de viaje por su práctico envase. 
                        </li>



                </div>
                <div class="col-lg-4" >
                	<br>	
                	<br>	<br>	
                	<a href="https://www.youtube.com/watch?v=pyAhaXXCLvA" class="btn-video">
                		<img src="images/malbec/malbec-video.jpg" class="img-responsive">
                	</a>
                </div>
                </div>	
					<hr>
					<div class="row">
                    <div id="effect-1" class="effects clearfix">

						<div class="col-sm-4" >
						<div class="thumbnail">
						<img src="images/lily/mini-img-lily.png" alt="Kit Lily - oBoticário Colombia.">
                        <div class="overlay1">
                            <a ng-href="#/perfume-Lily" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption">
							<h4>Lily</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$209.800</span></h4> </li>
                                <li><h4 style="padding-left:0;" class="h4-cart"><small class="f-black ">Ahora</small><br> 500 likes</h4></li>
                            </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-sm-4" >
                		<div class="thumbnail">
						<img src="images/make-b/mini-img-makeb.png" alt="Kit Make B - oBoticário Colombia">
                        <div class="overlay1">
                            <a ng-href="#/labial-Make-B" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption ">
							<h4>Make B</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$110.700</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 400 likes</h4></li>
                            </ul>

						</div>
          				</div>
                		</div>
                	   <div class="col-sm-4" >
                        <div class="thumbnail">
                        <img src="images/nativa/mini-img-nativa.png" alt="Nativa Spa - oBoticário Colombia">
                        <div class="overlay1">
                    <a ng-href="#/Nativa-Spa" class="expand">Ver Producto</a>
                    <!-- <a class="close-overlay hidden">x</a> -->
                </div>
                        <div class="caption ">
                            <h4>Nativa Spa</h4>

                            
                            <ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$84.800</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 300 likes</h4></li>
                            </ul>
                        </div>
                        </div>


                    </div>
                    </div>
					</div>

</div>


<br>
<br>
<br>


    <div id="myModal1"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center " style="padding-bottom:40px;">

        <h4 class="f-black">¡Comienza a comprar con likes!</h4>
        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="FBLogin()"><i class="fa fa-facebook"></i>
        Ingresar Vía facebook</a>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
        </div>
    </div>
      
    </div>

  </div>
</div>

