<div class="container div-content-view">
<div class="list-url">
	<a ng-click="showView('inicio')" class="not-under f-color1">Home </a> > Malbec
</div>
	    <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-6 div-img-details" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        	<img src="images/nativa/img-native-1.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="1">
                                        	<img src="images/nativa/img-native-1.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="2">
                                        	<img src="images/nativa/img-native-1.jpg" class="img-responsive">
                                        </div>

                                    </div><!-- Carousel nav -->
                <div class=" hidden-xs" id="slider-thumbs">

                                         <ul class="hide-bullets list-pagination-image">

                            <li class="col-sm-4">
				
                                <a href="" id="carousel-selector-0"><img src="images/nativa/mini-img-native-2.png" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4">
                                <a href="" id="carousel-selector-1"><img src="images/nativa/mini-img-native-2.png" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4" style="padding-right:0;margin-right:0;">
                                <a href="" id="carousel-selector-2"><img src="images/nativa/mini-img-native-2.png" class="img-responsive"></a>
                            </li>

                        </ul>     
                </div>
                                    </div>

                            </div>

          <div class="col-lg-6 div-description-product" >
		<p>	<span style="color:#05a301;">Disponible</span> <span style="float:right;"><img src="images/icons/rating-bar.png"></span></p> 

		<p>	<b>Categoría:</b> perfumes <span style="float:right;">Ref: 1123214</span></p> 
		<h2>Malbec, un perfume sofisticado hecho de alcohol vínico</h2>
		<p class="small-p-description-product">
		Malbec es el perfecto aroma para hombres que saben imponerse y que quieren dejar huella por donde pasan. 
		</p>
		<ul class="list-inline list-prices-details">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 980 likes</h3></li>
                </ul>
                <a href="" ng-click="anadirProducto('malbec')" style="position:relative;" class="btn btn2"><span >{{addCart}}</span> <img src="images/icons/icon-add.png" style="position:absolute;top:14px;right:10px;" ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a  ng-href="#/Carrito" ng-hide="addCart=='COMPRADO'"  class="btn btn1">Ir al carrito de compras</a>
                <a  ng-href="#/user" ng-if="addCart=='COMPRADO'"  class="btn btn1">Ver el estado de la compra</a>
                

	</div>

                        
                    </div>
                </div><!--/Slider-->
        </div>
</div>
	

	

                <div class="row div-description-product-extra" >	
                <div class="col-lg-8">
                	<h4>Descripción del Kit</h4>
                	<p class="p-description-product">
                    <h4>Malbec Noir</h4>
                    Presentación 100 ml, es una fragancia hecha a base de alcohol vínico y añejado en barriles de roble francés, Malbec cuenta con ese perfil amaderado que combina la sofisticación artesanal de los grandes vinos, con la sutileza de un gran perfume. <br><br>
                    <h4>Malbec Noir Shower gel 2 en 1 cabello y cuerpo</h4>

                    Presentación de 205 ml, limpia el cabello y el cuerpo dando una espuma cremosa y perfumada con la sofisticada fragancia de Malbec Noir. <br>
Da suavidad a la piel y el cabello. <br>
Un producto práctico para el hombre que quiere dos beneficios en un producto, ideal para ir de viaje por su práctico envase. 

                	</p>
                </div>
                <div class="col-lg-4" >
                	<br>	
                	<br>	<br>	
                	<a href="https://www.youtube.com/watch?v=AAz_kmgSBug" class="btn-video">
                		<img src="images/nativa/nativa-video.jpg" class="img-responsive">
                	</a>
                </div>
                </div>	
					<hr>
					<div class="row">
                    <div id="effect-1" class="effects clearfix">

						<div class="col-lg-4" >
						<div class="thumbnail">
						<img src="images/lily/mini-img-lily.png" alt="Kit Lily - oBoticário Colombia.">
                        <div class="overlay1">
                            <a ng-href="#/perfume-Lily" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption">
							<h4>Lily</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 980 likes</h4></li>
                            </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-lg-4" >
                		<div class="thumbnail">
						<img src="images/make-b/mini-img-makeb.png" alt="Kit Make B - oBoticário Colombia">
                        <div class="overlay1">
                            <a ng-href="#/labial-Make-B" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption ">
							<h4>Make B</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 980 likes</h4></li>
                            </ul>

						</div>
          				</div>
                		</div>
                		<div class="col-lg-4" >
                		<div class="thumbnail">
						<img src="images/malbec/mini-img-malbec.png" alt="Kit Malbec - oBoticário Colombia">
                        <div class="overlay1">
                            <a ng-href="#/Malbec" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption ">
							<h4>Malbec</h4>
                            <ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$90.000</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 980 likes</h4></li>
                            </ul>
                            
						</div>
          				</div>
                		</div>
                    </div>
					</div>

</div>


<br>
<br>
<br>
<header class="intro-1" style="height:568px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h3 class="f-white" >oBoticário, cree en la belleza.<br>Porque cuando te sientes linda, lo mágico ocurre</h3>
                        <br><br>
                        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="sharingPost()"><i class="fa fa-facebook"></i>Cuéntale a tus amigas </a>
        
                    </div>
                </div>
            </div>
        </div>
    </header>

