<div class="container  content-body " >
	<h2 class="f-black">Mecánica</h2>
	<div class="row texto-img">
		<div class="col-md-8">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a purus nec nisi sagittis gravida. Sed id erat imperdiet est vulputate convallis ac vel felis. Phasellus pharetra dolor id lacus vestibulum, id porttitor turpis iaculis. Cras tempus elit sit amet massa cursus imperdiet id a velit. Integer nulla quam, laoreet non risus nec, consequat vulputate lacus. Pellentesque volutpat lorem eget mi pulvinar auctor. Nullam dui sem, pellentesque quis auctor sed, cursus nec mauris. Ut vitae condimentum felis, in molestie enim. Vestibulum risus nisi, consectetur ut efficitur non, efficitur eget odio. Sed facilisis elit porta varius placerat. Donec nisi orci, pulvinar vitae ante eget, sodales elementum arcu. Aliquam quis elit ante. Fusce sagittis malesuada congue. Nam gravida imperdiet nisi. Duis id purus quam. Phasellus aliquam sed elit vel condimentum.
		</p>
		<br>
		<p>
			Nam hendrerit quam ac eros malesuada scelerisque. Nulla vulputate congue tortor quis convallis. Nulla facilisi. Fusce ultrices velit orci. Duis sem odio, consectetur et molestie in, pulvinar in est. Praesent leo felis, suscipit quis ex pretium, porta volutpat sapien. Cras aliquam dolor libero, molestie imperdiet tortor consectetur sit amet. Sed finibus ipsum eu urna ultricies, vitae luctus sapien varius. Donec lacinia nunc in erat gravida, et finibus ex sollicitudin. Cras magna lacus, dignissim tempus volutpat at, consectetur non sem.
		</p>
		</div>
	</div>
</div>

<br>
<br>
<br>
<header class="intro-1" style="height:568px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h3 class="f-white" >oBoticário, cree en la belleza.<br>Porque cuando te sientes linda, lo mágico ocurre</h3>
                        <br><br>
                        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="sharingPost()"><i class="fa fa-facebook"></i>Cuéntale a tus amigas </a>
        
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="myModal1"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center " style="padding-bottom:40px;">

        <h4 class="f-black">Ingresar</h4>
        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="sharingPost()"><i class="fa fa-facebook"></i>
        Ingresar Vía facebook</a>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
        	<a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
        </div>
    </div>
      
    </div>

  </div>
</div>