<div class="container  content-body " >
	<h2 class="f-black">Como ganar</h2>
	<div class="row texto-img">
		<div class="col-md-9">
		<p>
		oBoticário piensa en sus clientes y trae para ellos la campaña “Cree en la belleza” mediante la cual permite a sus usuarios obtener sus productos por medio de likes a través de la plataforma de Facebook. La campaña está diseñada para todo tipo de personas residentes en Bogotá, mayores de 16 años interesadas en vivir una experiencia llena de magia, quienes deberán leer y aceptar todos los <a  class="f-black" target="_blank" style="text-decoration:underline;" ng-href="#/terminos-y-condiciones">Términos y Condiciones</a>.

		</p>
        <br>
        <h4 class="f-black" style="padding-bottom:0;">La campaña será realizada en cuatro pasos:</h4>
		<p>
        
        1. El primer paso será el registro, el cual se hará por medio de la página web <a ng-href="#/inicio" style="text-decoration:underline;" class="f-black">www.creeenlabelleza.com</a>  a partir del dos (2) de Marzo del presente año y gracias al cual se regalarán los primeros 40 likes que podrán ser utilizados en el primer producto que se compre.
        </p>
        <p>
            2. El segundo paso será la compra de los productos a través de la página web <a ng-href="#/inicio" target="_blank" style="text-decoration:underline;" class="f-black">www.creeenlabelleza.com</a>  y su publicación a través del portal de Facebook para generar los likes correspondientes a cada producto. La  duración de la campaña; a partir del dos (2) de Marzo al veinte (20) de Marzo del año lectivo.
        </p>
        <p>
            3. El tercer paso es la elección de ganadores. En este paso, las cuarenta (40) primeras personas que alcancen los likes necesarios en su publicación pasarán a un proceso de verificación, mediante el cual un jurado determinará si la persona cumplió con los <a ng-href="#/terminos-y-condiciones" style="text-decoration:underline;" class="f-black">Términos y condiciones</a> y de esta forma si es acreedora o no del producto solicitado. 
        </p>
            <p>
                4. El cuarto y último paso corresponde a la entrega del producto el cual deberá hacerse directamente en una de las nueve (9) tiendas de la ciudad de Bogotá (Hayuelos, Santa Fé, Plaza de las Américas, Andino, Galerías, Centro Mayor, Salitre Plaza, Titán y Centro Chía), la entrega del producto será realizada únicamente al participante que se presente con documento de identidad y cupón en mano hasta el primero (1°) del mes de Abril del año 2017.      
            </p>
        
		</div>
	</div>
</div>

<br>
<br>
<br>



<div id="myModal1"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center " style="padding-bottom:40px;">

        <h4 class="f-black">Ingresar</h4>
        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="FBLogin()"><i class="fa fa-facebook"></i>
        Ingresar Vía facebook</a>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
        	<a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
        </div>
    </div>
      
    </div>

  </div>
</div>