<div class="container div-content-view">
<div class="list-url">
	<a ng-click="showView('inicio')" class="not-under f-color1">Home </a> > NativaSpa
</div>

    <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-xs-12" id="slider">
                        <!-- Top part of the slider -->
                        <div class="row">
                            <div class="col-sm-6 div-img-details" id="carousel-bounding-box">
                                <div class="carousel slide" id="myCarousel">
                                    <!-- Carousel items -->
                                    <div class="carousel-inner">
                                        <div class="active item" data-slide-number="0">
                                        	<img src="images/nativa/img-native-1.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="1">
                                        	<img src="images/nativa/img-nativa-2.jpg" class="img-responsive">
                                        </div>

                                        <div class="item" data-slide-number="2">
                                        	<img src="images/nativa/img-nativa-3.jpg" class="img-responsive">
                                        </div>

                                    </div><!-- Carousel nav -->
                <div class=" hidden-sm hidden-xs" id="slider-thumbs">

                                         <ul class="hide-bullets list-pagination-image">

                            <li class="col-sm-4">
				
                                <a href="" id="carousel-selector-0"><img src="images/nativa/mini-img-nativa-1.png" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4">
                                <a href="" id="carousel-selector-1"><img src="images/nativa/mini-img-nativa-2.png" class="img-responsive"></a>
                            </li>

                            <li class="col-sm-4" style="padding-right:0;margin-right:0;">
                                <a href="" id="carousel-selector-2"><img src="images/nativa/mini-img-nativa-3.jpg" class="img-responsive"></a>
                            </li>

                        </ul>     
                </div>
                                    </div>

                            </div>

                            <div class="col-lg-6 div-description-product" >
		<p>	<span style="color:#05a301;">Disponible</span> <span class="referencia"><img src="images/icons/rating-bar.png"></span></p> 
		<p>	<b>Categoría:</b> Corporal</p> 
		<h2>Por un momento de relajación todos los días del año con Nativa SPA</h2>
		<p class="small-p-description-product">
        Una de las líneas de Nativa SPA está compuesta por extracto Ameixa (ciruela) fruta nativa de Europa y Asia, rica en propiedades nutritivas y antioxidantes que proporciona una hidratación profunda mientras perfuma la piel con una fragancia exquisita y duradera.   
		</p>
		<ul class="list-inline list-prices-details">
                    <li ><h4 class="f-gray li-price-money"> <small>Antes</small><br> <span class="text-sub">$84.800</span></h4> </li>
                    <li><h3><small class="f-black">Ahora</small><br> 300 likes</h3></li>
                </ul>

                <div class="links-product">
                <a href="" ng-click="anadirProducto('nativa')" style="position:relative;" class="btn btn2"><span >{{addCart}}</span> <img src="images/icons/icon-add.png" style="position:absolute;top:14px;right:10px;" ></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a  ng-href="#/Carrito" ng-hide="addCart=='COMPRADO'"  class="btn btn1">Ir al carrito de compras</a>
                <a  ng-href="#/user" ng-if="addCart=='COMPRADO'"  class="btn btn1">Ver el estado de la compra</a>
                </div>

	</div>

                        
                    </div>
                </div><!--/Slider-->
        </div>
</div>


	

                <div class="row div-description-product-extra" >	
                <div class="col-lg-12">
                	<h4 >Descripción del Kit</h4>
                    <h4 style="padding-bottom:0;">Loción Hidratante Ameixa</h4>
                	<p class="p-description-product">
                    <ul class="p-description-product">
                        <li>Presentación de 400 ml cuenta con formulación rica en emolientes y humectantes, con propiedades nutritivas para la piel.</li>
                        <li>
                        Proporciona suavidad y hidratación por 30 horas.
                        </li>
                        <li>
                            Ideal para hidratar el cuerpo de forma rápida y práctica.
                        </li>
                    </ul>

                    <h4 style="padding-bottom:0;">Óleo Ameixa</h4>
                    <ul class="p-description-product">
                        <li>Presentación de 400 ml que brinda rápida absorción y un toque seco.</li>
                        <li>Proporciona hidratación hasta 24 horas y deja la piel levemente perfumada. </li>
                    </ul>
                </div>
                </div>	
					<hr>
					<div class="row">
                    <div id="effect-1" class="effects clearfix">

						<div class="col-sm-4" >
						<div class="thumbnail">
						<img src="images/lily/mini-img-lily.png" alt="Perfume Lily - oBoticário Colombia">
                        <div class="overlay1">
                            <a ng-href="#/perfume-Lily" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption ">
							<h4>Lily</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$209.800</span></h4> </li>
                                <li><h4 class="h4-cart" style="padding-left:0;"><small class="f-black ">Ahora</small><br> 500 likes</h4></li>
                            </ul>
                            
						</div>
          				</div>
                		</div>
                		<div class="col-sm-4" >
                		<div class="thumbnail">
						<img src="images/make-b/mini-img-makeb.png" alt="Labial Make B - oBoticário Colombia">
                        <div class="overlay1">
                            <a ng-href="#/labial-Make-B" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption ">
							<h4>Make B</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$110.700</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 400 likes</h4></li>
                            </ul>
						</div>
          				</div>
                		</div>
                		<div class="col-sm-4" >
                		<div class="thumbnail">
						<img src="images/malbec/mini-img-malbec.png" alt="Kit Malbec - oBoticário Colombia">
                        <div class="overlay1">
                            <a ng-href="#/Malbec" class="expand">Ver Producto</a>
                            <!-- <a class="close-overlay hidden">x</a> -->
                        </div>
						<div class="caption ">
							<h4>Malbec</h4>
							
							<ul class="list-inline list-prices-thumbnail ">
                                <li ><h4 class="f-gray li-price-thumbnail"> <small>Antes</small><br> <span class="text-sub">$133.800</span></h4> </li>
                                <li><h4 class="h4-cart"><small class="f-black ">Ahora</small><br> 500 likes</h4></li>
                            </ul>
						</div>
          				</div>
                		</div>
                    </div>
					</div>

</div>


<br>
<br>
<br>



<header class="intro-1" style="height:568px;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">

                        <h3 class="f-black" style="text-shadow: 1px 1px 11px rgba(200,200,200,.7);" >Cuando te sientes linda tu vida <br> se convierte en algo mágico</h3>
                        <br><br>

                        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="openmodalShared()"><i class="fa fa-facebook"></i>Cuéntales a todos</a>
        
                    </div>
                </div>
            </div>
        </div>
</header>


<div id="myModalshared"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center" style="padding-bottom:30px;padding-left:30px;padding-right:30px;">
        <br>
                
                            <input type="text" name="estadoFacebook" ng-model="estadoFacebook" class="form-control text-center" placeholder="Escribe algo...">
                            <small><b>*Comenta con el Hashtag #CreeEnLaBelleza</b></small> <br><br>
                            <a class="btnn1 btn-social btn-lg btn-facebook"  ng-click="sharingPost(estadoFacebook)" ><i class="fa fa-facebook"></i>Compartir</a>
        </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center div-message-shared" style="padding-bottom:30px;">

        <h4 class="f-black">¡Gracias por compartir!</h4>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">Salir</a>
        </div>
    </div>
      
    </div>

  </div>
</div>


    <div id="myModal1"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center " style="padding-bottom:40px;">

        <h4 class="f-black">¡Comienza a comprar con likes!</h4>
        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="FBLogin()"><i class="fa fa-facebook"></i>
        Ingresar Vía facebook</a>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
        </div>
    </div>
      
    </div>

  </div>
</div>

