<div class="container  content-body " >
	<h2 class="f-black">Sobre Cree en la belleza</h2>
	<img src="images/oboticario-campana.jpg"  class="img-responsive" >
	<div class="row texto-img">
		<div class="col-md-8">
		<p>Inspirados en una mujer alegre, contemporánea y encantadora que cree fielmente en el poder transformador que tiene la belleza, desde oBoticário hemos decidido lanza nuestra campaña “Cree en la belleza” porque sabemos que cuando todas las mujeres se sienten lindas su vida se transforma en algo mágico. </p>
		<p>
			
Nuestros productos se encuentran alineados con las necesidades y deseos de todos los colombianos, ofrecemos esencia de lirio para las mujeres, fragancias amaderadas para los hombres, labiales desde tonos nude pasando por colores rojizos y hasta la posibilidad de tener momentos especiales de relajación en casa. 
		</p>
		<p>Así que te invitamos a vivir una experiencia única a través de esta nueva opción de e-commerce, con la ayuda de tus amigos, compra nuestros kits y disfruta momentos mágicos con oBoticário. </p>
		</div>
	<div class="col-md-4">
		<img src="images/oboticario-campana-1.jpg" class="img-responsive">
	</div>
	</div>

	<div class="col-md-12 text-center div-message">
		<h3 class="f-black">"Cuando te sientes linda, tu vida se<br>convierte en algo mágico"</h3>
	</div>
</div>







