<div class="container  content-body " >
	<h2 class="f-black">Sobre esta campaña</h2>
	<img src="images/oboticario-campana.jpg"  class="img-responsive" >
	<div class="row texto-img">
		<div class="col-md-8">
		<p>Después de 2 años de su llegada a Colombia, la marca oBoticário realiza el lanzamiento de su nueva campaña 2017. Inspirados en una mujer alegre, contemporánea y encantadora que cree fielmente en el poder transformador que tiene la belleza, oBoticário centrará su campaña bajo el concepto "Cree en la Belleza".</p>
		<p>
			La linea de productos que se presentarán en el marco de esta campaña y que se encuentran alineados con las necesidades y deseos de los colombianos, ofrecen esencia de lirio para mujeres, fragancias armaderadas para los hombres, labiales desde tonos nude pasando por colores rojizos y hasta la posibilidad de tener momentos especiales de relajación en casa.
		</p>
		</div>
	<div class="col-md-4">
		<img src="images/oboticario-campana-1.jpg" class="img-responsive">
	</div>
	</div>

	<div class="col-md-12 text-center div-message">
		<h3 class="f-black">"Cuando te sientes linda, tu vida se<br>convierte en algo mágico"</h3>
	</div>
</div>
