<head>
	<title>
	Sobre Cree en la belleza, e-Commerce, oBoticário
</title>
<meta name="title" content="Sobre Cree en la belleza, e-Commerce, oBoticário"/>
<meta name="description" content="Creemos en la belleza interior de cada mujer, por eso hemos creado el primer e-commerce donde podrás encontrar los mejores aromas para hombres y mujeres, labiales con tonos intensos y vibrantes y una línea de relajación para que la disfrutes desde casa. Vive con oBoticário experiencias llenas de magia y con ayuda de tus amigos compra espectaculares productos."/>
<meta name="keywords" content="Likes, Facebook, oBoticário, belleza, Malbec, Lily, perfumes, labiales, relajación, cree en la belleza, Make-B, Nativa-Spa, Bogotá, Colombia, e-commerce"/>

</head>
<div class="container  content-body " >

	<h2 class="f-black">Sobre Cree en la Belleza</h2>
	<img src="images/oboticario-campana.jpg"  class="img-responsive" >
	<div class="row texto-img">
		<div class="col-md-12">
		<p>
			Inspirados en una mujer alegre, contemporánea y encantadora que cree fielmente en el poder que tiene la belleza, hemos decidido lanzar “Cree en la belleza” porque sabemos que cuando todas las mujeres se sienten lindas su vida se transforma en algo mágico. 
		</p>

		<p>
			Acá podrás comprar esencia de lirio para las mujeres, fragancias hechas con alcohol vínico para los hombres, labiales desde tonos nude pasando por colores rojizos y una completa línea para tener momentos de relajación en casa. 
		</p>
		<p>
			Atrévete a vivir una experiencia única con oBoticário, antójate y con la ayuda de tus amigos compra nuestros kits y disfruta de momentos mágicos. 
		</p>
		</div>
	</div>

	

<div id="myModal1"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center " style="padding-bottom:40px;">

        <h4 class="f-black">¡Comienza a comprar con likes!</h4>
        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="FBLogin()"><i class="fa fa-facebook"></i>
        Ingresar Vía facebook</a>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
        	<a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
        </div>
    </div>
      
    </div>

  </div>
</div>



<br>
<br>

