<div class="container  content-body " >
	<h2 class="f-black">Términos y condiciones</h2>
	<div class="row texto-img">
		<div class="col-md-8">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget eros pharetra, sagittis lacus nec, aliquam felis. Aliquam at risus odio. Mauris leo lorem, finibus eu nulla et, maximus vestibulum velit. Cras interdum aliquam massa ac rhoncus. Pellentesque et eleifend lorem. Integer a eros ex. Phasellus nec luctus orci, eget elementum ligula. Donec laoreet orci vel lectus cursus, non pellentesque nibh vestibulum. Maecenas ut tellus sagittis, mattis libero in, finibus metus. Donec efficitur dui nec nisi tempor, id lacinia nibh elementum.
        </p>
        <br>
        <p>
            Maecenas pellentesque, nulla ac dictum feugiat, purus lectus scelerisque ligula, quis fringilla nibh felis non turpis. Pellentesque fermentum vulputate enim, non tempus lectus molestie ut. Suspendisse eu tempus quam. In vel sapien volutpat, scelerisque dolor vitae, vulputate purus. In ornare pulvinar tellus sit amet tristique. Maecenas velit tellus, ultrices in tortor sed, consequat fermentum nisi. Suspendisse leo est, consectetur id maximus non, euismod nec nisl. Morbi lobortis augue vel turpis dapibus fringilla.

        </p>
        <br>
        <p>
            Sed consequat, est ut maximus aliquam, mi ante consectetur lacus, vel efficitur diam lacus a dui. Sed venenatis turpis sed aliquet posuere. Nulla auctor rhoncus diam, sit amet facilisis erat viverra vitae. Ut volutpat dapibus pellentesque. Morbi feugiat pharetra euismod. Praesent augue eros, interdum vel ornare at, varius eget enim. Pellentesque ligula tellus, eleifend sit amet tincidunt in, tincidunt sit amet ex. Aliquam in vestibulum dolor. Proin in quam a ipsum ornare faucibus nec a ante. Curabitur tincidunt mi sed diam lobortis malesuada ac sit amet arcu. Donec porta eleifend risus nec efficitur. Pellentesque ut erat sit amet est aliquet pretium volutpat ut velit.
        </p>
        <br>
        <p>
            Phasellus facilisis enim ac urna placerat varius. Praesent vel vehicula mi, ut commodo metus. Curabitur sed eros erat. Etiam gravida lorem vel purus eleifend euismod. Mauris eget facilisis arcu, id venenatis justo. Sed sem felis, gravida ut arcu non, venenatis dictum tortor. Duis dignissim vitae magna at placerat. Duis erat metus, malesuada non fermentum id, euismod aliquam quam. Vestibulum pulvinar iaculis sapien, ornare mollis ante egestas sit amet. Praesent eget augue tincidunt, dignissim augue condimentum, pretium libero. Suspendisse non volutpat metus. Duis in neque aliquam, sagittis mi ut, blandit velit. Aliquam in egestas sem, vel volutpat neque. Nunc eleifend tincidunt erat in posuere. Maecenas eget lorem in orci gravida condimentum. Phasellus sed tempor nibh.
        </p>
        </div>
	</div>
</div>

<br>
<br>
<br>