<div class="container  content-body " >
	<h2 class="f-black">Términos y condiciones</h2>
	<div class="row texto-img">
		<div class="col-md-9 texto-terminos">
        <p>
            Inspirados en una mujer alegre, contemporánea y encantadora que cree fielmente en el poder transformador que tiene la belleza, desde oBoticário hemos decidido lanza nuestra campaña “Cree en la belleza” porque sabemos que cuando todas las mujeres se sienten lindas su vida se transforma en algo mágico.
        </p>

        <br>
        <p>
            Nuestros productos se encuentran alineados con las necesidades y deseos de todos los colombianos, ofrecemos esencia de lirio para las mujeres, fragancias amaderadas para los hombres, labiales desde tonos nude pasando por colores rojizos y hasta la posibilidad de tener momentos especiales de relajación en casa.

        </p>
        <br>
        <p>
            Así que te invitamos a vivir una experiencia única a través de esta nueva opción de e-commerce, con la ayuda de tus amigos, compra nuestros kits y disfruta momentos mágicos con oBoticário.
        </p>
        <br>
        <h4>Dinámica de la campaña</h4>
        <p>
            La dinámica consiste en obtener un número determinado de “me gusta o likes” en la plataforma de Facebook dependiendo del producto que haya sido comprado.<br> Será ganador el participante  que de manera individual alcance más “me gusta o likes” en su publicación.

        </p>
        <br>
        <h4>¿Cómo participar?</h4>
        <p>
            Los participantes de la campaña deberán: a. visitar la página <a ng-href="#/inicio" target="_blank" style="text-decoration:underline;">www.creeenlabelleza.com</a> b. registrar sus datos de Facebook, c. hacerse seguidor de las redes sociales de oBoticário en Facebook <a href="https://www.facebook.com/OBoticarioColombia/" style="text-decoration:underline;">@OBoticarioColombia</a> y en Instagram <a href="https://www.instagram.com/oboticariocol/" target="_blank" style="text-decoration:underline;" > @oboticariocol</a> d. realizar la compra de sus productos, e. para participar en el concurso no se requiere pago económico de ningún tipo.
        
        </p>
        <br>
        <h4>¿Quiénes pueden participar?</h4>
        <p>Los participantes deben ser todas aquellas personas naturales, mayores de 16 años de edad que tengan una cuenta en el portal  <a href="https://facebook.com" style="text-decoration:underline;" target="_blank">facebook.com</a> , domiciliadas en  la ciudad de Bogotá, los participantes, al participar deberán aceptan todos y cada uno de los términos y condiciones establecidos, los cuales no están sujetos a negociación o modificación de ninguna índole. Así mismo, ellos declaran y garantizan que los datos proporcionados por ellos en el proceso son ciertos y legítimos y que los mismos han sido brindados sin vulnerar algún derecho de terceros; y que tienen capacidad legal para participar en la misma. </p> 
        <br>
        <h4>Selección de ganadores</h4>
        <p>Serán ganadores en primera instancia las cuarenta (40) primeras personas que de manera individual hayan alcanzado más “me gusta o likes” en su publicación. Después de ello, será evaluado el proceso de cada una de ellas para comprobar que hayan cumplido a cabalidad con todos los términos y condiciones detallados en el presente documento. Si al terminar este proceso, alguno de ellos no cumplió en su totalidad los términos y condiciones, ingresará una nueva persona a la lista de selección, esta persona será elegida teniendo en cuenta la hora en que se registró la información por parte del participante.
        </p> <br>
        <h4>Ganadores</h4>
        <p>
            Para obtener los finalistas y ganadores totales, un jurado independiente se encargará de revisar el proceso de obtención de “likes o me gusta” y aprobar o denegar la petición según corresponda. 
        </p>
        <p>
            Si la persona es ganadora, recibirá un correo después de 24 horas completados los “likes o me gusta” con la notificación y un cupón adicional para reclamar el producto en las nueve tiendas oBoticário de Bogotá (Hayuelos, Santa Fé, Plaza de las Américas, Galerías, Centro Mayor, Salitre Plaza, Titán y Centro Chía).

        </p>
        <p>
            Si la persona no cumplió con los términos y condiciones recibirá una notificación detallada de su exclusión del concurso después de 24 horas completados los “likes o me gusta”.
        </p>
        <br>
        <h4>Entrega de premios</h4>
        <p>
            Para hacer efectivo el premio, los ganadores deberán: a) presentarse personalmente en cualquiera de las nueve tiendas de oBoticário de Bogotá (Hayuelos, Santa Fé, Plaza de las Américas, Galerías, Centro Mayor, Salitre Plaza, Titán y Centro Chía); b) presentar un documento de identidad válido de conformidad con la ley colombiana; c) presentar el cupón impreso recibido en el correo electrónico, este cupón podrá ser redimido hasta el día 1° de abril a partir de la fecha de emisión.  

        </p>
         <br>
        <h4>Obligaciones y responsabilidades de los participantes y de oBoticário</h4>
        <ul>
            <li>Por parte de oBoticário

            <ul>
                <li>oBoticário descalificará a cualquier persona que actúe inapropiadamente conforme a los procedimientos del concurso, o que no cumpla estos Términos y Condiciones. </li>
                <li>
                oBoticário en cumplimiento de las normas vigentes informa que los datos personales suministrados por los participantes serán tratados de manera confiable y confidencial y serán usados por oBoticário, para efectos comerciales e informativos y podrán ser comunicados a proveedores, autoridades, contratistas y empleados, entre otros, para la prestación del servicio. El participante conoce y acepta expresamente el tratamiento que se le dará a sus datos personales. En caso de tener alguna consulta y/o petición sobre el trato de sus datos personales podrá plasmarla a través del siguiente correo electrónico: lauran@grupoboticario.com.co
                </li>
            </ul>
            </li>
            <li>Por parte de los participantes
            <ul>
                <li>Los ganadores de los premios no podrán cambiar el premio por dinero o por otras presentaciones de los productos.</li>
                <li>Los “likes o me gusta” deben ser reales, no likes artificiales, cuentas ficticias o comprados. </li>
                <li>El cupón de canje será personal e intransferible.</li>
                <li>
                    La participación en el concurso implica el conocimiento y aceptación de todos los términos y condiciones descritas en el presente documento.
                </li>
                <li>
                    Los ganadores deberán presentar el documento de identidad oficial y original de conformidad con la ley colombiana y permiso de autorización de padres en el caso de menores de edad .
                </li>
                <li>
                    El participante es el único responsable de la veracidad y actualización de su información personal inscrita en la Página Web o de los datos proporcionados por su red social de Facebook.
                </li>
                <li>
                    Los ganadores desde ya autorizan para que oBoticário pueda utilizar sus nombres, imagen y testimonios para publicidad de la campaña en redes sociales y formas que lo disponga, sin que conlleve a una retractación monetaria.
                </li>
            </ul>
            </li>

        </ul>
         <br>
        <h4>Vigencia de la campaña</h4>
        <p>
            La campaña “Cree en la belleza” estará vigente desde el 28 de febrero de 2017 hasta el 20 de marzo de 2017.
        </p>
         <br>
        <h4>Características de los productos</h4>
        <p>
            En esta campaña se trabajarán cuatro kits de productos y será entregada una cantidad de 10 kits por línea, para un total de 40 kits. Cada kit estará compuesto por los siguientes productos:
        </p>
        <ul>
            <li><b>Lily:</b> Perfume + crema acetinada
            <p>Un perfume en presentación de 75 ml contiene aceite esencial de lirio 100% puro y natural. <br>
Una crema acetinada en presentación de 250 g contiene manteca de karité que brinda humectación intensa y suavidad a la piel.
</p>
            </li>
            <li><b>Make B:</b>  3 labiales de diferentes tonos
            <p>
                1 Labial tono Lady Rose <br>
1 Labial tono Chic Purple <br>
1 Labial tono Coral Sunset
            </p></li>
            <li>
                <b>Malbec Noir:</b> Perfume + shower gel 
                <p>
                    Un perfume en presentación 100 ml, es una fragancia hecha a base de alcohol vínico y añejado en barriles de roble francés
                    Un shower gel en presentación de 205 ml, limpia el cabello y el cuerpo dando una espuma cremosa y perfumada con la  sofisticada fragancia de Malbec Noir.

                </p>


            </li>
            <li>
                <b>Nativa SPA Ameixa:</b> Loción hidratante + óleo 
                <p>Una loción hidratante en presentación de 400 ml cuenta con formulación rica en emolientes y humectantes, con propiedades nutritivas para la piel. <br>
Un óleo en presentación de 250 ml que brinda rápida absorción y un toque seco.
</p>

            </li>
        </ul>
        <br>
        <p>Para obtener cada kit los participantes deberán alcanzar los siguientes “likes o me gusta” en su publicación </p>
        <ul>
            <li><b>Lily</b> 500 Likes</li>
            <li><b>Make B</b> 400 Likes</li>
            <li><b>Malbec Noir</b> 500 Likes</li>
            <li><b>NativaSpa</b> 300 Likes</li>
        </ul>
        <p>
            Los premios no serán reembolsables por dinero en efectivo, ni reemplazables con ninguna otra prestación al momento de reclamarlos.
        </p>
        <br>
        <h4>Mecánica de la campaña</h4>
        <p>
            oBoticário piensa en sus clientes y trae para ellos la campaña “Cree en la belleza” mediante la cual permite a sus usuarios obtener sus productos por medio de likes a través de la plataforma de Facebook. La campaña está diseñada para todo tipo de personas residentes en Bogotá, mayores de 16 años interesadas en vivir una experiencia llena de magia, quienes deberán leer y aceptar todos los Términos y Condiciones.
        </p>
        <p>La campaña será realizada en cuatro pasos:</p>
        <ul>
            <li>
                El primer paso será el registro, el cual se hará por medio de la página web  <a href="https://www.creeenlabelleza.com/#/inicio" target="_blank">www.creeenlabelleza.com</a> a partir del veintidós (28) de Febrero del presente año y gracias al cual se regalarán los primeros 40 likes que podrán ser utilizados en el primer producto que se compre.

            </li>
            <li>
                El segundo paso será la compra de los productos a través de la página web <a href="https://www.creeenlabelleza.com/#/inicio" target="_blank">www.creeenlabelleza.com</a> y su publicación a través del portal de Facebook para generar los likes correspondientes a cada producto. La  duración de la campaña; a partir del veintidós (28) de Febrero al veinte (20) de Marzo del año lectivo. 

            </li>
            <li>
                El tercer paso es la elección de ganadores. En este paso, las cuarenta (40) primeras personas que alcancen los likes necesarios en su publicación pasarán a un proceso de verificación, mediante el cual un jurado determinará si la persona cumplió con los Términos y condiciones y de esta forma si es acreedora o no del producto solicitado. 
            </li>
            <li>
                El cuarto y último paso corresponde a la entrega del producto el cual deberá hacerse directamente en una de las nueve (9) tiendas de la ciudad de Bogotá (Hayuelos, Santa Fé, Plaza de las Américas, Galerías, Centro Mayor, Salitre Plaza, Titán y Centro Chía), la entrega del producto será realizada únicamente al participante que se presente con documento de identidad y cupón en mano hasta el primero (1°) del mes de Abril del año 2017. 

            </li>
        </ul>

        </div>
	</div>
</div>

<div id="myModal1"  class="modal fade " role="dialog">
  <div class="modal-dialog modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
    <div class="row">
        <div class="col-lg-12 col-md-12  div-login-img"><img src="images/login-facebook.jpg" class="img-reponsive"> </div>
        <div class="col-lg-12 col-md-12 div-new-text text-center " style="padding-bottom:40px;">

        <h4 class="f-black">Ingresar</h4>
        <a class="btnn1 btn-social btn-lg btn-facebook" ng-click="sharingPost()"><i class="fa fa-facebook"></i>
        Ingresar Vía facebook</a>

        </div>
        <div class="col-lg-12 col-md-12 text-center">
            <a  class="f-gray btn" data-dismiss="modal" style="text-decoration:underline;font-size:16px;color:#c0c0c0;">En otro momento</a>
        </div>
    </div>
      
    </div>

  </div>
</div>

<br>
<br>
<br>