<div class="container div-content-view div-cart">

<div class="list-url">
	<a ng-click="showView('inicio')" class="not-under f-color1">Home </a> > Likes Traking
</div>

<h4 class="h4-cart">Likes traking</h4>

<div class="product-shared" ng-repeat="publicacion in publicaciones">

<div class="row row-progress">
	<div class="col-lg-1 col-md-1 col-xs-1 hidden-sm hidden-xs" style="width:auto;">
<h4 class="f-black">0</h4>
</div>

<div class="col-lg-10 col-md-10" style="margin-top:22px;">

<progressbar class="progress-striped" style="" animate="true" max="100" ng-if="values[$index].idpost==publicacion.id_post" value="values[$index].progressValue" type="success"><img src="images/icons/icon-like-tracking.png" style="float:right;margin-top:-16px;position:absolute">
<span  style="position:absolute;margin-top:12px;margin-left:6px;">
    <h4   count-to="{{publicacion.likes_count}}" duration="1" count-from="0">
        
    </h4>
</span> </progressbar>

</div>

<div class="col-lg-1 col-md-1 col-xs-1 hidden-sm hidden-xs" style="width:auto;">
<h4 class="f-black">{{publicacion.likes}}</h4>
</div>

</div>

<div class="col-lg-12 text-center div-message-likes" style="padding-bottom:100px;">
    <h4 class="f-black h4-cart" ng-if="values[$index].finallyLikes">Cuando te sientes linda tu vida se convierte en algo mágico</h4>
    <h4 class="f-black h4-cart" ><small class="f-black">Estas a </small> <span style="color:#1a5aa8;" > {{ +publicacion.likes - +publicacion.likes_count }} likes </span> <small class="f-black" >de conseguir {{publicacion.nombre}}</small> </h4>

    <center>

        <img  ng-src="{{publicacion.imagen}}" class="img-responsive" style="position:relative;">
    		<div class="div-info-product-tracking hidden-sm hidden-xs" >
    				Ref: {{publicacion.referencia}}
    			<h4 class="f-black h4-cart">{{publicacion.nombre}}</h4>
    			<h4 style="margin-top:-20px;padding:0;">{{publicacion.likes}} likes</h4>
    		</div>


    
    </center>

</div>

</div>


</div>

<div class="container" ng-if="error" style="margin-bottom:500px;">
    {{error}} <br>
    <a ng-href="#/inicio" class="btn btn1" >Anímate a comprar con tus likes</a>
        
</div>

<br>    <br>    <br>    


<header ng-show="descuento == 0" class="intro-1" style="height:568px;">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="margin:0 auto;">

                    <h3 class="f-white" >Suscribete y recibe 140 likes de regalo <br> para tu primera compra</h3>
                    <br><br>
                    <div class="col-sm-4 div-input-name-new">
                        <input class="form-control" ng-model="usuarioNl.nombre" type="text" name="" placeholder="Nombre Completo">
                    </div>
                    <div class="col-sm-4 div-input-email-new" >
                        <input  class="form-control" type="email" name="" ng-model="usuarioNl.correo" placeholder="Correo electrónico">
                    </div>
                    <div class="col-sm-3 col-xs-12 div-button-new" >
                        <a  class="btn btn1" href="" ng-click="registrarNewsletter()" >Suscribirme</a>

                    </div>
                </div>



            </div>
        </div>
    </div>
</header>

