<ul  class="upper">
  <li class="li-table">
  <a class="f-black"  ng-click="seleccionarTabla('ciudades')">
  Ciudades
  </a>
  </li>
  <li class="li-table"><a href="" ng-click="seleccionarPagina('index')" class="f-black" >Inicio</a></li>
  <li class="li-table">
          <a ng-href="/#collapseOne" data-toggle="collapse" data-parent="#accordion" class="f-black" >Nosotros  <img src="images/icon-6.png" class="icon-dropdown"></a>


      <div class="panel-collapse collapse panel-collapse-table" id="collapseOne">

      <ul class="list-group">
      <li><a  ng-click="seleccionarPagina('quienesSomos')">Quienes Somos</a></li>
      <li><a  ng-click="seleccionarPagina('ventajas')">Porque estudiar en la AF</a></li>
      <li><a  ng-click="seleccionarTabla('sedes')">Sedes</a></li>
      <li><a  ng-click="seleccionarPagina('aliados')">Redes y Aliados</a></li>
      <li><a  ng-click="seleccionarTabla('perfiles')">Nuestro Equipo</a></li>
        
      </ul>

    </div>

  <!-- Open Panel Two -->
                
  </li>
  <li class="li-table">
          <a ng-href="/#collapseTwo" data-toggle="collapse" data-parent="#accordion" class="f-black" >Cursos y examenes <img src="images/icon-6.png" class="icon-dropdown"></a>


      <div class="panel-collapse collapse panel-collapse-table" id="collapseTwo">

      <ul class="list-group">
        <li><a href="" ng-click="cambiarNivel1('cursos')">Aprende fránces</a></li>
  <li><a  ng-click="seleccionarPagina('certificaTuFrances')">Certifica tu fránces</a></li>
  <li><a  ng-click="seleccionarPagina('ensenaFrances')">Enseña fránces</a></li>
  <li><a ng-click="seleccionarPagina('viajes')">Vive el fránces viajando</a></li>
  <li><a ng-click="seleccionarPagina('testEnLinea')">Test en línea</a></li>
  <li class="li-table">
  <a  ng-click="seleccionarPagina('cursosServicios')">Cursos y servicios</a></li>      
      </ul>

    </div>


  <!-- Open Panel Two -->
                
  </li>
  
  
  <li class="li-table"><a class="f-black" ng-click="seleccionarPagina('mediatecas')"><b>Mediatecas</b></a></li>
  <li class="li-table"><a class="f-black" ng-click="seleccionarPagina('eventos')"><b>Eventos Culturales</b></a></li>
  <li class="li-table"><a class="f-black" ng-click="seleccionarTabla('noticias')"><b>Noticias</b></a></li>
  <li class="li-table"><a class="f-black" ng-click="seleccionarTabla('perfiles')"><b>Contáctenos</b></a></li>
</ul>

<script type="text/javascript">
  $(window).ready(function () {
    $('.dropdown-accordion').on('show.bs.dropdown', function (event) {
  alert("yeeeah1");

  var accordion = $(this).find($(this).data('accordion'));
  accordion.find('.panel-collapse.in').collapse('hide');
});

// Prevent dropdown to be closed when we click on an accordion link
$('.dropdown-accordion').on('click', 'a[data-toggle="collapse"]', function (event) {
  alert("yeeeah");
  event.preventDefault();
  event.stopPropagation();
  $($(this).data('parent')).find('.panel-collapse.in').collapse('hide');
  $($(this).attr('href')).collapse('show');
});

  });
</script>