<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="bower_components/Trumbowyg-master/dist/ui/trumbowyg.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  
  <!-- endbuild -->
</head>
<body ng-app="dashboardApp" ng-controller="GlobalCtrl" class="flexcroll">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->



<div ng-if="usrSesion.conectado" class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

      <ul class="list-inline nav-search">
        <li>
          <img src="images/icon-5.png">
        </li>
        <li class="li-name-user">
          <input type="text" name="search" id="input-search" placeholder="Buscar">
        </li>
      </ul>
<ul class="list-inline  user-nav">
<li class="li-name-user" id="hello" >
<br style="line-height:25px;">
<a class="f-black" ng-href="#/">Bienvenido, <b class="f-black">{{usrSesion.nombre}}</b></a></li>
  <li class="li-exit-user">
        <a class="f-red" ng-click="cerrarSesion()" ng-href="#/login" >SALIR</a>
  </li>
</ul>
    </div>
  </div>


    <div class="navbar  navbar-twitch" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#">
        <span class="small-nav"> <img src="images/logo-xs.png" class="logo"> </span>
      </a>
    </div>
      <ul class="nav navbar-nav ">
        <li  class="li-nav" ng-class="claseMenu['inicio']">
          <a href="#home" ng-href="#/" >
          <img src="images/icon-1.png">
              INICIO
          </a>
        </li>
        <li  class="li-nav" ng-class="claseMenu['administrar']"><a ng-href="#/administrar">
          <img src="images/icon-2.png">

              ADMINISTRAR
          </a>
        </li>
        <li class="li-nav" ng-class="claseMenu['actividades']">
          <a href="#home" ng-href="#/actividades" >
          <img src="images/icon-3.png" >

              ACTIVIDADES
          </a>
        </li>
        <li class="li-nav" ng-class="claseMenu['data']">
        <a ng-href="#/data">
          <img src="images/icon-4.png">
              DATA
          </a>
        </li>



      </ul>
    </div><!--/.nav-collapse -->

</div>
</div>




<!-- View Main -->

<div ng-view style="height:100%;">

</div>

<!-- View Main-->


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
      (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
    r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
  }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/Trumbowyg-master/dist/trumbowyg.js"></script>}
<script src="bower_components/Trumbowyg-master/dist/langs/es.min.js"></script>
<script src="bower_components/Trumbowyg-master/dist/plugins/base64/trumbowyg.base64.js"></script>
<script src="bower_components/Trumbowyg-master/plugins/colors/trumbowyg.colors.js"></script>
<script src="bower_components/Trumbowyg-master/plugins/noembed/trumbowyg.noembed.js"></script>
<script src="bower_components/Trumbowyg-master/plugins/pasteimage/trumbowyg.pasteimage.js"></script>
<script src="bower_components/Trumbowyg-master/plugins/preformatted/trumbowyg.preformatted.js"></script>
<script src="bower_components/Trumbowyg-master/plugins/upload/trumbowyg.upload.js"></script>

<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/global.js"></script>
<script src="scripts/controllers/administrar.js"></script>
<script src="scripts/controllers/actividades.js"></script>
<script src="scripts/controllers/data.js"></script>
<script src="scripts/controllers/cms.js"></script>
<script src="scripts/services/logger.js"></script>
<script src="scripts/services/servers.js"></script>
<script src="scripts/services/conexion.js"></script>
<script src="scripts/services/utiles.js"></script>
<script src="bower_components/Trumbowyg-master/src/ng/trumbowyg-ng.directive.js"></script>
<script src="scripts/directives/misTablas.js"></script>
<script src="scripts/directives/nivel1.js"></script>
<script src="scripts/directives/nivel2.js"></script>
<script src="scripts/directives/ngconfirmclick.js"></script>
<script src="scripts/directives/uploadermodel.js"></script>
<script src="scripts/services/upload.js"></script>
<script src="scripts/controllers/archivocursos.js"></script>
<script src="scripts/controllers/imageup.js"></script>
<!-- endbuild -->
</body>
</html>
