@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
font-family: 'Nunito-Bold';
src: url('../fonts/Nunito-Bold.eot');
src: url('../fonts/Nunito-Bold?#iefix') format('embedded-opentype'),
url('../fonts/Nunito-Bold.woff') format('woff'),
url('../fonts/Nunito-Bold.ttf') format('truetype'),
url('../fonts/Nunito-Bold.svg') format('svg');
}
@font-face {
font-family: 'Sniglet-Regular';
src: url('../fonts/Sniglet-Regular.eot');
src: url('../fonts/Sniglet-Regular?#iefix') format('embedded-opentype'),
url('../fonts/Sniglet-Regular.woff') format('woff'),
url('../fonts/Sniglet-Regular.ttf') format('truetype'),
url('../fonts/Sniglet-Regular.svg') format('svg');
}
@font-face {
font-family: 'OpenSans';
src: url('../fonts/OpenSans.eot');
src: url('../fonts/OpenSans?#iefix') format('embedded-opentype'),
url('../fonts/OpenSans.woff') format('woff'),
url('../fonts/OpenSans.ttf') format('truetype'),
url('../fonts/OpenSans.svg') format('svg');
}


@font-face {
font-family: 'oBoticario';
src: url('../fonts/oBoticario.eot');
src: url('../fonts/oBoticario?#iefix') format('embedded-opentype'),
url('../fonts/oBoticario.woff') format('woff'),
url('../fonts/oBoticario.ttf') format('truetype'),
url('../fonts/oBoticario.svg#futura_bk_btbook') format('svg');
}
@font-face {
font-family: 'EffraRegular';
src: url('../fonts/Effra_Std_Rg.eot');
src: url('../fonts/Effra_Std_Rg.eot?#iefix') format('embedded-opentype'),
url('../fonts/Effra_Std_Rg.woff') format('woff'),
url('../fonts/Effra_Std_Rg.ttf') format('truetype'),
url('../fonts/Effra_Std_Rg.svg') format('svg');
}

@font-face {
font-family: 'EffraBold';src: url('../fonts/Effra_Std_Bd.eot');
src: url('../fonts/Effra_Std_Bd.eot?#iefix') format('embedded-opentype'),url('../fonts/Effra_Std_Bd.woff') format('woff'),url('../fonts/Effra_Std_Bd.ttf') format('truetype'),url('../fonts/Effra_Std_Bd.svg') format('svg');
}
@font-face {
font-family: 'EffraHevy';src: url('../fonts/Effra_Std_He.eot');src: url('../fonts/Effra_Std_He.eot?#iefix') format('embedded-opentype'),url('../fonts/Effra_Std_He.woff') format('woff'),url('../fonts/Effra_Std_He.ttf') format('truetype'),url('../fonts/Effra_Std_He.svg') format('svg');}

@font-face {
font-family: 'EffraLight';src: url('../fonts/Effra_Std_Lt.eot');src: url('../fonts/Effra_Std_Lt.eot?#iefix') format('embedded-opentype'),url('../fonts/Effra_Std_Lt.woff') format('woff'),url('../fonts/Effra_Std_Lt.ttf') format('truetype'),url('../fonts/Effra_Std_Lt.svg') format('svg');}






.hidden{
  display:none;
}
body {
  width: 100%;
  height: 100%;
  background-color:#ededed;
  overflow-x:hidden;
  font-family:EffraRegular;
  font-size:15px;
}
html {
  width: 100%;
  height: 100%;
  background-color:#ededed;
}
p{
  font-family:EffraRegular;
color:#000;
font-size:15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:oBoticario;
}
h1{
  font-size:65px;color:#000;
}
h2{
  font-size:50px;color:#000;
}
h3{
  font-size:45px;color:#000;
}
h4{
  font-size:30px;color:#000;
}
a{
  color:#fff;
  text-decoration:none;
  cursor: pointer;
}

.btnsubmitnew{  
-webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

b{
  font-family:EffraBold;
}

button{
  cursor:pointer;box-shadow:none;outline:none;color:#fff;
}
button:hover{
  cursor:pointer;box-shadow:none;outline:none;color:#fff;background-color:#e53937;
}button:focus{
  cursor:pointer;box-shadow:none;outline:none;color:#fff;
}button:visited{
  cursor:pointer;box-shadow:none;outline:none;color:#fff;
}
button:click{
  cursor:pointer;box-shadow:none;outline:none;color:#fff;
}
a:hover{
  text-decoration:none;
  color:#fff;
  outline:none;

}
a:focus{
  outline:none;box-shadow:none;
}
a:visited{
  outline:none;box-shadow:none;
  
}
a:link{
  outline:none;box-shadow:none;
  
}
a:active{
  outline:none;box-shadow:none;

}
hr{
    border-top: 1px solid #d5d5d5;
}
.bg-color-1{
  background-color:#e53936;
}
.f-white{
  color:#fff;
}
.f-black{
  color:#000;
}
.f-gray{
  color: #989898;
}
.f-color1{
  color: #e53936;
}
.text-sub{
  text-decoration:line-through;
}
.btn{
  border-radius:30px;
  border:none;
  font-family:EffraRegular;
  font-size:18px;
  padding:15px 50px 19px 50px;
  cursor:pointer;
  height:auto;
}
.btn:focus{
  color:#fff;
  outline:none;box-shadow:none;
}
.btn:click{
  outline:none;box-shadow:none;
  color:#fff;
}
.btn:visited{
  color:#fff;
  outline:none;box-shadow:none;
}
.btn:link{
  color:#fff;
  outline:none;box-shadow:none;
}
.btn:active{
  color:#fff;
  outline:none;box-shadow:none;
}
.btnn1{
  border-radius:30px;
  border:none;
  font-family:EffraRegular;
  font-size:15px;
  padding:18px 60px 18px 40px;
}
.btn2{
  background-color:#27a2d6;
}
.btn2:hover{
  color:#fff;
  background-color:#1b95c8;
}
.btn2:focus{
  color:#fff;outline:none;

}
.btn2:visited{
  color:#fff;outline:none;

}
.btn2:active{
  color:#fff;
  outline:none;box-shadow:none;
}
.btn1{
  background-color:#e53936;
}
.btn1:hover{
  color:#fff;
  background-color:#d42c29;

}
.btn1:focus{
  color:#fff;outline:none;

}
.btn1:visited{
  color:#fff;outline:none;

}
.btn1:active{
  color:#fff;
  outline:none;box-shadow:none;
}


.btn-product{
  margin-top:-30px;
}






.div-logo-footer img{
  margin-bottom:15px;

}
.span-footer-copy{

  color:#fff;
  font-family:EffraRegular;
}
#footer-menu{
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(255,255,255,0.1);
  padding:30px 30px 30px 30px;
  font-family:EffraRegular;
}
#footer-menu a{
  font-size:14px;
}
#footer-menu ul{
  padding-top:10px;
}
#footer-menu ul li{
  padding:0 20px 0 20px;
}
#footer-copy{
  font-size:15px;
  padding:15px 40px 10px 40px;

}

.list-footer{
  margin-top:10px;
}
.right{
  float:right;
}
.li-socials{
  float:right;
}
.li-socials div img{
  padding-right:0;
  padding-left:10px;
}
  
.div-count-cart{
  position:absolute;border-radius:100%;background-color:#000;color:#fff;font-size:10px;width:20px;height:22px;text-align:center;vertical-align:middle;right:4px;top:8px;
}



.navbar-fixed-top, .navbar-fixed-bottom {
    z-index: 300;
}

.navbar-custom {

  font-family: EffraBold;
  background-color: transparent;
  font-size:15px;
}

.navbar-custom .navbar-toggle {
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-brand img{
  margin-top:-10px;
}

.navbar-custom .navbar-brand:focus {
  outline: none;
}


.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  z-index:1;
  color:#000;
}
.navbar-custom .nav li a:hover {
  color:#e53936 !important;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
  color:#e53936 !important;

}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: #e53936 ;
}
.navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {

    background:#fff;
    border-bottom:none;
  }
@media (min-width: 768px) {
  .modal-sm{
    width:435px;
  }
  .collapse {
    margin-right:-45px;
}

@media (min-width: 768px){
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    padding: 0 !important;
}
}

  
}
.button-scroll{
  position:absolute;
  bottom:60px;
}
.span-scroll{
  position:absolute;
  bottom:30px;
  margin-left:-80px;
}

.intro {
  position:relative;
  width: 100%;
  height:100%;
  min-height:100%;
  text-align: center;
  color: #000;
  background: url(../images/landing-oboticario.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  overflow:hidden;
}
.div-intro{
  padding-top:100px;padding-bottom:50px;
}


/* nav right */
.cbp-spmenu {
  background: #ffffff;
  position: fixed;
  padding-left:50px;
  padding-right:50px;
  font-size:17px;
  color:#000;
  font-family:oBoticario;
  -webkit-transition: width 3s ease-in-out;
    -moz-transition: width 3s ease-in-out;
    -o-transition: width 3s ease-in-out;
    transition: width 3s ease-in-out;
}
.cbp-spmenu ul li{
  padding-bottom:20px;
}
.cbp-spmenu ul li a{
  color:#000;
  font-size:30px;
}
.cbp-spmenu ul li a:hover{
  color:#e53936;
}
.cbp-spmenu ul li a:focus{
  outline:none;
}
.a-close-menu{
  position:absolute;top:50px;right:50px;
}
.cbp-spmenu-vertical {
  display: table;
  width: 500px;
  height: 100%;
  top: 0;
  z-index:400;
  -webkit-transition: width 3s ease-in-out;
    -moz-transition: width 3s ease-in-out;
    -o-transition: width 3s ease-in-out;
    transition: width 3s ease-in-out;
}

.cbp-spmenu-right {

  right: -500px;
}
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.cbp-spmenu {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cbp-spmenu ul{
list-style: none;
display: table-cell;
  vertical-align: middle;
}
.cbp-spmenu ul li{
  padding-top:15px;

}
.cbp-spmenu ul li a {
  text-decoration: none;
  color:#000;
}
.cbp-spmenu ul li a:hover {
  color:currentColor;
}


.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0,0,0,.9);
  transition: all 0.5s ease;
  cursor:pointer;
}

.flexy {
  width: 58%;
  margin: 5% auto;
  position: relative;
  height: 0;
  padding-bottom: 33%;
  min-height: 9em;
  transition: all 0.5s ease;


}
iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
    left: 0;
    box-shadow: 0 0 22px rgba(#000,.9);
  transition: all 0.5s ease;

  }

  .modal-backdrop
{
    opacity:0.9 !important;
    -moz-opacity:.9 !important;
    -khtml-opacity:.9 !important;
    opacity:.9 !important;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -moz-opacity:.9;
    -khtml-opacity:.9;
    opacity:.9;
    z-index:360;
}


/* nav right */



@media (min-width: 768px) {
  
  .intro .intro-body .brand-heading {
    font-size: 50px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.intro-1 {
  display:table;
  width: 100%;
  height:100%;
  text-align: center;
  color: #000;
  background: url(../images/oboticario-compartir.jpg) no-repeat top center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height:100%;
}
.intro-1 .intro-body {
  vertical-align:middle;
  display:table-cell;
}
@media (min-width: 768px) {
  .intro-1 {
    height:100%;
    padding: 0;
  }
  .intro-1 .intro-body .brand-heading {
    font-size: 50px;
  }
  .intro-1 .intro-body .intro-text {
    font-size: 26px;
  }
}


/* ANIMATIONS FLOAT - ELEMENTS EFFECTS */
.div-product{
  position:relative;
  width:100%;
  height:100%;
}
.lirio1{
  width:285px;
  height:331px;
  background: url(../images/lily/lirio-1.png) no-repeat;
  position:absolute;
  top:0%;
  right:-110px;
}
.lirio2{
  width:125px;
  height:228px;
  background: url(../images/lily/lirio-2.png) no-repeat;
  position:absolute;
  top:0%;
  left:0px;
}
.lirio3{
  width:228px;
  height:137px;
  background: url(../images/lily/lirio-3.png) no-repeat;
  position:absolute;
  margin-bottom:-100px;
    bottom:0%;
  left:200px;
}
.div-modelo,.div-modelo1{
  
  position:relative;
}
.img-products{
  position:absolute;bottom:50px;left:30%;
}
.img-products-1{
  position:absolute;bottom:30px;left:30%;
}
.img-product-lily{
  width:300px;
  height:293px;
  background: url(../images/lily/perfumes.jpg) no-repeat;
  position:absolute;
  margin-bottom:-240px;
  left:-30px; 
  -webkit-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75); 
}

.img-product-make-b{
  width:300px;
  height:293px;
  background: url(../images/make-b/labial.jpg) no-repeat;
  position:absolute;
  margin-bottom:-1000px;
  bottom:0px;
  right:-160px; 
  -webkit-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
}

.div-lily-content{
  margin-left:60px;
  padding-top:150px;
}
.div-lily-content p{
  width:100%;
  line-height:30px;
}
.div-img-content{
  margin-right:-70px;
}
.div-img-content-1{
  margin-right:-70px;
}


.li-price-money{
  position:relative;
  top:-30px;
}
.li-price-thumbnail{
  position:relative;
  top:-20px;
}
.ul-prices{
  margin-left:160px;
  width:100%
}
.ul-prices-1{
  margin-left:80px;
  width:100%;

}

.div-make-b-content{
  margin-left:80px;
  padding-top:90px;
}

.div-make-b-content p{
  line-height:30px;
  width:100%;
}
.ul-right-prices{
  float:right;
}
.div-img-make-b{
  margin-left:-130px;
}
.pintura1{
  width:233px;
  height:168px;
  background: url(../images/make-b/pintura1.png) no-repeat;
  position:absolute;
  margin-top:800px;
  right:0;
}
.pintura2{
  width:117px;
  height:130px;
  background: url(../images/make-b/pintura2.jpg) no-repeat;
  position:absolute;
  top:200px;
  left:0px;
}
.pintura3{
  width:293px;
  height:141px;
  background: url(../images/make-b/pintura3.png) no-repeat;
  bottom:15px;
  margin-top:-80px;
  z-index:6;
}

/* Nativa Spa */
.nativa1{
  width:155px;
  height:288px;
  background: url(../images/nativa/flower3.png) no-repeat;
  position:absolute;
  bottom:0%;
  margin-bottom:-1200px;
  right:-36px;
}
.nativa2{
  width:225px;
  height:360px;
  background: url(../images/nativa/flower1.png) no-repeat;
  position:absolute;
  top:0px;
  margin-top:880px;
  left:0px;
}
.nativa3{
  width:228px;
  height:137px;
  background: url(../images/nativa/flower2.png) no-repeat;
  top:0;
  margin-bottom:-170px;
  margin-left:100px;
  z-index:6;
}
.img-product-nativa{
  width:301px;
  height:293px;
  background: url(../images/nativa/cremas.jpg) no-repeat;
  position:absolute;
  margin-bottom:-1200px;
  left:-40px;  
  -webkit-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
}
.div-nativa-content{
  margin-left:0px;
  padding-top:60px;

}
.div-nativa-content p{
  width:70%;
  line-height:30px;
}
/* Nativa  Spa*/


/* Malbec */

.div-img-malbec{
  margin-left:-150px;
}
.img-product-malbec{
  width:301px;
  height:293px;
  background: url(../images/malbec/colonia.jpg) no-repeat;
  position:absolute;
  margin-bottom:-1600px;
  bottom:0px;
  right:-180px;
  -webkit-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
box-shadow: 0px -1px 94px -22px rgba(0,0,0,0.75);
}


.div-malbec-content{
  margin-left:50px;
  padding-top:80px;
}

.div-malbec-content p{
  width:85%;
  line-height:30px;
}

/* Malbec */

/**/
/**

/*  ANIMATIONS FLOAT - ELEMENTS EFFECTS */


/* PRODUCT DETAIL SECTION */
.hide-bullets {
list-style:none;
margin-left: -40px;
}

.div-content-view{
  margin-top:140px;
}
.list-pagination-image  img{
  height:132px;
  width:180px;
}
.list-pagination-image li{
  padding-left:0;
}
.not-under{
  text-decoration:none;
}
.not-under:hover{
  text-decoration:none;
}
.list-url{
padding-bottom:30px;
}
.referencia{
  float:right;
}
.div-img-details{ 
  padding-left:0;padding-right:40px;
}
.small-p-description-product,.p-description-product {
  line-height:30px;
}
.p-description-product ul li{
  line-height:30px;color:#000;
}
.div-description-product{
  padding-left:0px;
}
.list-prices-details{
  margin-top:-30px;
}
.list-prices-thumbnail{
  margin-top:-30px;
}
.list-prices-thumbnail>li>h4{
  padding-left:20px;  
}

.div-shared-product{
  margin-top:50px;
}
.div-description-product-extra>div{
  margin-top:50px;
}
.div-video-detail{
  margin-top:150px;
}

.thumbnail {
    position: relative;
    padding: 0px;overflow:hidden;border:none;
}

.thumbnail img {
    width: 100%;height:290px;
}
.caption{
  border-top-color:#ededed;
  border-top-width:1px;
  border-top-style:solid;
  
}
.caption>h4{
  padding-left:20px;
}


/* PRODUCT DETAIL SECTION */
/* CONTENT-MAIN PAGE */
.content-body{
  margin-top:150px;
}
.content-body>h1,h2,h3,h4{
  padding-bottom:30px;
}
.texto-img{
  padding-top:15px;
}
.texto-img div:nth-child(1){
  padding-right:0;
}
.texto-img p{
  line-height:30px;
}
.div-message{
  padding:120px 0 100px 0;
}
.div-form-shared{
  padding-bottom:30px;padding-left:30px;padding-right:30px;
}
/* CONTENT-MAIN PAGE */


/* CONTENT CART */
.hr-cart{
  margin-top:-20px;
}
.h4-cart{
  font-size:40px;
  margin:0;
}

.div-text-description-cart{
  padding-top:40px;
}
.div-input-promo-cart{
  padding-top:70px;
}
.div-delete-product{
  padding-top:85px;
}
.div-share-product{
  padding-top:30px;
}
.div-text-description-cart h2{
  margin:0;
  padding:0;
  padding-bottom:10px;
}

.form-control{
  background-color:#f6f6f6;
  border:none;
  padding:18px 15px 17px 15px;
  outline:none;
  border-radius:8px;
  height: auto;

}

.form-control-danger{
  border:1px solid #ff7171;
}
.form-control-danger:hover{
  outline:none;
}
.form-control-danger:focus{
  border-color:transparent;
  outline:none;
}

.form-control:focus{
  outline:none;
  box-shadow:none;
}
.div-total-likes{
  background-color:#dadada;padding-top:15px;padding-bottom:15px;
}
.div-total-likes h4{
  vertical-align:middle;padding:0;padding-right:30px;
}
.div-descuento-likes h4{
  padding-bottom:10px;
}
.div-cart .row{
  padding-left:15px;
  padding-right:15px;
}
.div-input-name-new{
  padding-right:0;margin-left:130px;
}
.div-input-name-new input{
  border-top-right-radius:0;border-bottom-right-radius:0;border-right:none;
}
.div-input-email-new{
    padding-left:0;padding-right:0;
  }
.div-input-email-new input{
  border-top-left-radius:0;border-bottom-left-radius:0;border-left:none;
}
.div-button-new{
  padding-left:0;margin-left:-130px;
}
.div-button-new a{
  width:100%;font-size:16px;
}
.div-form-new{
  padding-left:80px;padding-right: 70px;margin-top:30px;
}

/* CONTENT CART*/


/* MODALES */


.modal {
  text-align: center;
}
.modal p{
  font-size:14px; 
  line-height:25px;
}
.div-new-img img{
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
.div-login-img img{
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.div-new-text{
  padding:10px 30px 0px 30px;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
[type="radio"] { 
  height: 0px;
  
  position: absolute;
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #cacaca;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background:#e53936;
    position: absolute;
    top:6px;
    left:6.3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(10);
    -moz-transform : scale(10); /* Firefox */
    -o-transform : scale(10); /* Opera */
    -ms-transform : scale(10); /* IE9 */
    transform: scale(10);
}


/* MODALES */

/* LIKES TRAKING */

.progressBar {
    width: 100%;
    height: 3px;
    background-color: #d5d5d5;
}

.progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #1a5aa8;
}
.img-progress{
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -ms-transition-timing-function: ease;transition-timing-function: ease;
}
.div-info-product-tracking{
  background-color:#fff;
  padding:30px;
  min-width:200px;
  position:absolute;
  top:30%;right:23%;
  text-align:left;
  padding-bottom:15px;

}
.row-progress{
  margin-left:30px;
}
.div-img-producto-traking{
    position:relative;
}

.product-shared{
  margin-bottom:150px;
}

/* LIKES TRAKING */


/* overlay white */
#divLoading.show
{
    display : block;
    position : fixed;
    z-index:99;
    background-image : url('../images/Logo.gif');
    background-color:#fff;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
}
#loadinggif.show
{
    left : 50%;
    top : 50%;
    position : absolute;
    z-index : 98;
    width : 226px;
    height : 41px;
    margin-left : -16px;
    margin-top : -16px;
}


.progress {
  background-color: #d5d5d5;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius:none;
  height:5px;
  font-family:EffraBold;
}
.progress-striped .progress-bar-success {
    background-image:none;
    background-color:#1a5aa8;
}
.progress-bar{
  text-align:right;
}



.overlay1 {
  display: block;
  position: absolute;
  z-index: 20;
  background: rgba(229, 57, 54, 0.9);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand {
  display: block;
  position: absolute;
  z-index: 100;
  text-align: center;
  background-color:#fff;
  color:#000;
  border-radius:30px;
  border:none;
  font-family:EffraRegular;
  font-size:15px;
  max-width:180px;
  padding:15px 0 19px 0;
  cursor:pointer;

}

/* ============================================================
  EFFECT 1 - SLIDE IN BOTTOM
============================================================ */
#effect-1 .overlay1 {
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}
#effect-1 .overlay1 a.expand {
  left: 0;
  right: 0;
  bottom: 50%;
  margin: 0 auto -30px auto;
}
#effect-1 .thumbnail.hover .overlay1 {
  height: 100%;
}


.texto-terminos h4{
  padding-bottom:0;

}
.texto-terminos a{
  color:#000;
}
.texto-terminos ul li{
  line-height:30px;
  font-family: EffraRegular;
color:#000;
font-size:15px;
}
.fb-page{
  margin-left:40px;margin-left-right:30px;margin-top:-80px;margin-bottom:40px;
}
.div-message-likes{
  padding-bottom:100px;
}

.dropw:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

/*overlay white */