@media (max-width:1200px) {

}
@media (max-width:1090px) {
	

}

@media (max-width:992px) {
		.div-login-img img{width:100%;}
		.fb-page{margin-left:15%;margin-right:0px;margin-top:-80px;}
		.div-info-product-tracking{padding:30px;
  			position:absolute;
  			top:115px;right:-150px;	
  		}
		.div-message-likes{
			margin-top:150px;
		}

		.row-progress{margin-left:0px;}
			.div-new-img img{
				width:100%;
				border-top-right-radius:5px;
				border-bottom-right-radius:0px;	
				border-bottom-left-radius:0px;	
			}

			.div-img-content{
 				 margin-right:-0px;
 				 padding:0;
			}
			.div-img-content img{
				width:100%;
				padding:0;

			}
			.div-img-make-b{margin-left:0px;
				padding:0;
			}
			.div-img-make-b img{
				width:100%;padding:0;
			}


			.div-img-nativa{margin-left:0px;
				padding:0;
			}
			.div-img-nativa img{
				width:100%;padding:0;
			}

			.div-img-malbec{margin-left:0px;
				padding:0;
			}
			.div-img-malbec img{
				width:100%;padding:0;
			}
			
			.div-lily-content{
  				margin-left:0px;
  				padding-top:0px;
  				margin-top:-30px;
			}
			.div-lily-content p{
  				width:100%;
  				line-height:30px;
			}
			.div-make-b-content{
  				margin-left:0px;
  				padding-top:0px;
			}
			.div-nativa-content{
  				margin-left:0px;
  				padding-top:0px;

			}
			.div-nativa-content p{
  				width:100%;
  				line-height:30px;
			}
			.div-malbec-content{
    			margin-left:0px;
  				padding-top:0px;
			}

			.div-malbec-content p{
  				width:100%;
  				line-height:30px;
			}

			.list-inline{text-align:center;}
			.div-product{
				padding:0;
				margin:0;
			}
			.ul-prices, .ul-prices-1{
 				margin-left:0px;text-align:center;
  				width:100%
			}
			.line-home{padding-left:0;padding-right:0;}

}

@media (max-width:768px) {
	.a-close-menu{
  position:absolute;top:20px;right:20px;
}
	.cbp-spmenu {padding-top:2%;}
	.cbp-spmenu ul li a{font-size:25px;}
	.cbp-spmenu ul li{padding-bottom:10px;}
	.div-text-description-cart{
		text-align:center;
	}
	.img-product-cart{
		width:100%;
	}
	.div-input-promo-cart{
  		padding-top:0px;
	}
	.div-delete-product{
  		padding-top:15px;
	}
	.div-share-product{
  		padding-top:15px;
  		text-align:center;
	}
	.div-input-name-new{
  		padding-right:0;margin-left:0px;
  			padding-bottom:10px;
  		padding-left:0;
	}
	.div-input-name-new input{
  		border-top-right-radius:8px;border-bottom-right-radius:8px;border-right:none;
  		}
  		.div-input-email-new{
  			padding-left:0;padding-right:0;
  			padding-bottom:30px;
  			}
  			.div-input-email-new input{
  				border-top-left-radius:8px;border-bottom-left-radius:8px;border-left:none;
  			}
  			.div-button-new{
  				padding-left:0;margin-left:-0px;padding-right:0;
  			}
  			.div-button-new a{
  				width:auto;font-size:16px;
  			}


}





@media (max-width:720px) {

 .line-home img{
	width:100%;
}
}

@media (max-width:580px) {
	.ul-prices,.ul-prices-1{
	margin-left:0px;
}
.li-price-money{
  margin-top:0px;
}
	.img-product-lily{
  		width:230px;
  		height:232px;background-size:230px 232px;
  		left:25%;
	}


}

@media (max-width:450px) {



.img-product-lily{
  		width:200px;
  		height:202px;background-size:230px 232px;
  		left:20%;
	}





	.fb-page{margin-left:2%;margin-right:0px;margin-top:-80px;}
	.cbp-spmenu {
  padding-left:30px;
  padding-right:30px;
}
	.cbp-spmenu ul li a{
  color:#000;
  font-size:20px;
}
.a-close-menu{
  position:absolute;top:50px;right:50px;
}
.cbp-spmenu-vertical {
  width: 250px;
  height: 100%;
  top: 0;
  z-index:100;
}

.cbp-spmenu-right {
  right: -250px;
}

	.pintura2,.nativa1{
		display:none;
	}

	h1{
  font-size:50px;color:#000;margin-top:100px;
}
h2{
  font-size:45px;color:#000;
}
h3{
  font-size:35px;color:#000;
}
h4,.h4-cart{
  font-size:25px;color:#000;
}

.pintura1{width:194px;height:85px;margin-top:500px;background-size:cover;
}
.nativa2{
	display:none;
}


}


@media (max-width:360px) {
	.cbp-spmenu ul li{padding-bottom:5px;}


	#footer-copy{
		font-size:15px;
		padding:15px 5px 10px 5px;

}
	h1{
  font-size:40px;color:#000;
}
h2{
  font-size:30px;color:#000;
}
h3{
  font-size:25px;color:#000;
}
h4,.h4-cart{
  font-size:19px;color:#000;
}

.navbar-brand img{width:160px;}

}


@media (max-width:270px) {
	.img-product-lily{
		left:15%;
		width:170px;
  		height:172px;background-size:170px 172px;
	}
}