@media (max-width:1200px) {
	.div-product{
		height:auto;
}
.div-make-b-content{
  margin-left:20px;
}
}
@media (max-width:1090px) {
	.img-product-malbec{
			bottom:200px;
		right:18%; }
	.img-product-nativa{
  				bottom:-130px;
  				margin-bottom:0;
		left:20%;

  	}
	.img-product-make-b{
				bottom:-90px;
				margin-bottom:0;
				right:22%;
	}
	.img-product-lily{
		bottom:200px;
		left:18%;
	}

	.div-lily-content{
  		padding-top:30px;
	}
	.div-make-b-content{
  		padding-top:30px;
	}
	.div-nativa-content{
		padding-top:150px;
	}
	.div-malbec-content{
		margin-left:0;
	}
}

@media (max-width:992px) {
	
	.div-info-product-tracking{padding:30px;
  		position:absolute;
  		top:115px;right:-150px;	

}
.div-message-likes{
	margin-top:150px;
}

.row-progress{margin-left:0px;}
	.div-new-img img{
		width:100%;
		border-top-right-radius:5px;
		border-bottom-right-radius:0px;	
		border-bottom-left-radius:0px;	
	}
	.div-malbec-content{
		margin-top:-50px;
	}
	
	.div-nativa-content{
		margin-left:60px;
		margin-top:0px;
	}
	.div-make-b-content{
		margin-left:60px;
	}
	.div-product{
		height:auto;
	}
	.div-img-make-b{
		margin-left:0px;
	}
}

@media (max-width:768px) {
	.div-text-description-cart{
		text-align:center;
	}
	.img-product-cart{
		width:100%;
	}
	.div-input-promo-cart{
  		padding-top:0px;
	}
	.div-delete-product{
  		padding-top:15px;
	}
	.div-share-product{
  		padding-top:15px;
  		text-align:center;
	}
	.div-input-name-new{
  		padding-right:0;margin-left:0px;
  			padding-bottom:10px;
  		padding-left:0;
	}
	.div-input-name-new input{
  		border-top-right-radius:8px;border-bottom-right-radius:8px;border-right:none;
  		}
  		.div-input-email-new{
  			padding-left:0;padding-right:0;
  			padding-bottom:30px;
  			}
  			.div-input-email-new input{
  				border-top-left-radius:8px;border-bottom-left-radius:8px;border-left:none;
  			}
  			.div-button-new{
  				padding-left:0;margin-left:-0px;padding-right:0;
  			}
  			.div-button-new a{
  				width:auto;font-size:16px;
  			}


}





@media (max-width:720px) {

 .line-home img{
	width:100%;
}
}

@media (max-width:580px) {
	.ul-prices,.ul-prices-1{
	margin-left:0px;
}
.li-price-money{
  margin-top:0px;
}
.div-lily-content, .div-make-b-content, .div-nativa-content, .div-malbec-content{
	margin-left:0;
}
.div-lily-content p{width:100%;}
.div-make-b-content p{width:100%;}
.div-nativa-content p{width:100%;}
.div-malbec-content p{width:100%;}

}

@media (max-width:450px) {
	.cbp-spmenu {
  padding-left:30px;
  padding-right:30px;
}
	.cbp-spmenu ul li a{
  color:#000;
  font-size:20px;
}
.a-close-menu{
  position:absolute;top:50px;right:50px;
}
.cbp-spmenu-vertical {
  width: 250px;
  height: 100%;
  top: 0;
  z-index:100;
}

.cbp-spmenu-right {
  right: -250px;
}

	.pintura2,.nativa1{
		display:none;
	}

	h1{
  font-size:50px;color:#fff;
}
h2{
  font-size:45px;color:#000;
}
h3{
  font-size:35px;color:#000;
}
h4,.h4-cart{
  font-size:25px;color:#000;
}

.pintura1{width:194px;height:85px;margin-top:500px;background-size:cover;
}
.nativa2{
	display:none;
}


}


@media (max-width:360px) {
	.btn{padding:15px 10px 19px 10px;margin-top:15px;margin-left:0;}

	#footer-copy{
		font-size:15px;
		padding:15px 5px 10px 5px;

}
	h1{
  font-size:40px;color:#fff;
}
h2{
  font-size:30px;color:#000;
}
h3{
  font-size:25px;color:#000;
}
h4,.h4-cart{
  font-size:19px;color:#000;
}
}
