<div   class="flexcroll view-admin" >
  <div ng-show="campaing==true">

  <table class="table">
  <thead class="thead-inver" >
    <tr >
      <td style="padding:20px;">COMPAÑIA</td>
      <td style="padding:20px 10px 20px 10px;">EMAIL</td>
      <td style="padding:20px 10px 20px 10px;">LEAD SCORE</td>
      <td style="padding:20px 10px 20px 10px;">TAGS</td>
      <td style="padding:20px 10px 20px 10px;">CREATED DATE</td>
    </tr>
  </thead>
  <tbody class="bg-white">
    <tr>
      <td style="padding:15px;">Apple</td>
      <td style="padding:15px 10px 15px 10px;">timcook@apple.com</td>
      <td style="padding:15px 10px 15px 10px;">201</td>
      <td style="padding:15px 10px 15px 10px;"><span>Test tag</span> <span>Another tag</span>
      <span>Something tag</span>
      </td>
      <td style="padding:15px 10px 15px 10px;">24 Dic 2016</td>
    </tr>
    <tr>
    <td style="padding:15px;">Facebook</td>
      <td style="padding:15px 10px 15px 10px;">markzuckenberg@facebook.com</td>
      <td style="padding:15px 10px 15px 10px;">378</td>
      <td style="padding:15px 10px 15px 10px;"><span>Test tag</span> 
      </td>
      <td style="padding:15px 10px 15px 10px;">28 Dic 2016</td>
    </tr>
    <tr>
    <td style="padding:15px;">Twiter</td>
      <td style="padding:15px 10px 15px 10px;">jackdorsey@twitter.com</td>
      <td style="padding:15px 10px 15px 10px;">456</td>
      <td style="padding:15px 10px 15px 10px;"><span>Test tag</span> <span>Another tag</span>
      <span>Something tag</span>
      </td>
      <td style="padding:15px 10px 15px 10px;">31 Dic 2016</td>
    </tr>
    <tr>
      <td style="padding:15px;">Snapchat</td>
      <td style="padding:15px 10px 15px 10px;">evanspiegel@snapchat.com</td>
      <td style="padding:15px 10px 15px 10px;">201</td>
      <td style="padding:15px 10px 15px 10px;"><span>Test tag</span> <span>Another tag</span>
      <span>Something tag</span>
      </td>
      <td style="padding:15px 10px 15px 10px;">24 Dic 2016</td>
    </tr>
    <tr>
    <td style="padding:15px;">Facebook</td>
      <td style="padding:15px 10px 15px 10px;">markzuckenberg@facebook.com</td>
      <td style="padding:15px 10px 15px 10px;">378</td>
      <td style="padding:15px 10px 15px 10px;"> <span>Test tag</span> 
      </td>
      <td style="padding:15px 10px 15px 10px;">28 Dic 2016</td>
    </tr>
  </tbody>
</table>

  </div>

  <div ng-hide="campaing==true">
    <div class="col-lg-4" >

    <div class="thumbnail thumbnail-xss thumbnail-auto thumbnail-hover-2">
    
                  <div class="img-background-color  text-center">
                      <span>
                        <img src="images/logo-project.png" class="img-logo-project">
                        <a ng-click="campaing=true" class=" btn btn-white btn-admin btn-bg-white">VER CAMPAÑA</a>
                      </span>
                  </div>
                
                <div class="caption-2 text-center" >
                  <h4>Alianza Francesa</h4>
                  
                </div>
              </div>
        
    </div>
    <div class="col-lg-4" >

    <div class="thumbnail thumbnail-xss thumbnail-auto thumbnail-hover-2">
    
                  <div class="img-background-color  text-center">
                      <span>
                        <img src="images/logo-project.png" class="img-logo-project">
                        <a ng-click="campaing=true" class=" btn btn-white btn-admin btn-bg-white">VER CAMPAÑA</a>
                      </span>
                  </div>
                
                <div class="caption-2 text-center" >
                  <h4>Alianza Francesa</h4>
                  
                </div>
              </div>
        
    </div>
    <div class="col-lg-4" >

    <div class="thumbnail thumbnail-xss thumbnail-auto thumbnail-hover-2">
    
                  <div class="img-background-color  text-center">
                      <span>
                        <img src="images/logo-project.png" class="img-logo-project">
                        <a ng-click="campaing=true" class=" btn btn-white btn-admin btn-bg-white">VER CAMPAÑA</a>
                      </span>
                  </div>
                
                <div class="caption-2 text-center" >
                  <h4>Alianza Francesa</h4>
                  
                </div>
              </div>
        
    </div>
    <div class="col-lg-4" >

    <div class="thumbnail thumbnail-xss thumbnail-auto thumbnail-hover-2">
    
                  <div class="img-background-color  text-center">
                      <span>
                        <img src="images/logo-project.png" class="img-logo-project">
                        <a ng-click="campaing=true" class=" btn btn-white btn-admin btn-bg-white">VER CAMPAÑA</a>
                      </span>
                  </div>
                
                <div class="caption-2 text-center" >
                  <h4>Alianza Francesa</h4>
                  
                </div>
              </div>
        
    </div>
    <div class="col-lg-4" >

    <div class="thumbnail thumbnail-xss thumbnail-auto thumbnail-hover-2">
    
                  <div class="img-background-color  text-center">
                      <span>
                        <img src="images/logo-project.png" class="img-logo-project">
                        <a ng-click="campaing=true" class=" btn btn-white btn-admin btn-bg-white">VER CAMPAÑA</a>
                      </span>
                  </div>
                
                <div class="caption-2 text-center" >
                  <h4>Alianza Francesa</h4>
                  
                </div>
              </div>
        
    </div>
    <div class="col-lg-4" >

    <div class="thumbnail thumbnail-xss thumbnail-auto thumbnail-hover-2">
    
                  <div class="img-background-color  text-center">
                      <span>
                        <img src="images/logo-project.png" class="img-logo-project">
                        <a ng-click="campaing=true" class=" btn btn-white btn-admin btn-bg-white">VER CAMPAÑA</a>
                      </span>
                  </div>
                
                <div class="caption-2 text-center" >
                  <h4>Alianza Francesa</h4>
                  
                </div>
              </div>
        
    </div>
    <div class="col-lg-4" >

    <div class="thumbnail thumbnail-xss thumbnail-auto thumbnail-hover-2">
    
                  <div class="img-background-color  text-center">
                      <span>
                        <img src="images/logo-project.png" class="img-logo-project">
                        <a ng-click="campaing=true" class=" btn btn-white btn-admin btn-bg-white">VER CAMPAÑA</a>
                      </span>
                  </div>
                
                <div class="caption-2 text-center" >
                  <h4>Alianza Francesa</h4>
                  
                </div>
              </div>
        
    </div>
    

</div>
</div>
