<div class="flexcroll view-admin" >
  <form ng-submit="uploadImage()">
    <input type="file" uploader-model="file" accept="image/*" name="file">
    <input type="submit" value="Subir imagen">
  </form>

<img src="images/ajax-loader.gif" ng-show="loading" style="margin-top:20%;">
<div ng-if="error" class="alert alert-danger" role="alert">
  <strong>Error!</strong> {{error}}
</div>
<div ng-if="archivo" class="alert alert-success" role="alert">
  <strong>OK!</strong> Archivo <strong class="text-primary">{{archivo}}</strong> subido con éxito en la ruta <strong class="text-primary">{{ruta}}</strong>
</div>

</div>
