<div class="container-fluid " id="div-login" >

<div class="col-lg-7 bg-red div-login-1">
	<div class="middle">
		<h1 class="f-white">DASHBOARD NÁBICA <br
		> AGENCIA DIGITAL</h1>
	</div>
	<div class="copy-login f-white">
		© Todos los derechos reservados 2016  |   Dashboard licenciado por Nábica agencia digital
	</div>
</div>

<div class="col-lg-5">
	

<div class="div-form-login text-center">
<img src="images/logo.png">
<form>
  <input type="text" ng-model="usuario.nombre" placeholder="Usuario" class="form-control" required>
  <input type="password" class="form-control" ng-model="usuario.clave" placeholder="Contraseña" required>
  <div class="radio text-left">
                <input type="radio"  id="test1" name="radio-group"  required>
                <label for="test1"><a class="f-black" href="#" target="_blank">Recordar Contraseña</a></label>

  </div>
  <div ng-if="error1" class="alert alert-danger" role="alert">
    <strong>Error!</strong> {{error1}}
  </div>
  <button type="submit" ng-click="iniciarSesion()">
<img src="images/ajax-loader.gif" ng-show="loading1==true">
<span ng-show="loading1!=true">Ingresar</span></button>
</form>
</div>



	
</div>

</div>
