<form class="row">
  <div class="col-md-6">
    <label class="col-md-12" for="1">Nombre</label>
    <input class="col-md-12" id="1" type="text" name="nombre" />
  </div>

  <div class="col-md-6 row">
    <label class="col-md-12" for="2">Telefono</label>
    <input class="col-md-12" id="2" type="text" name="telefono" />
  </div>

  <div class="col-md-12 row">
    <label class="col-md-12" for="3">Correo Electronico</label>
    <input class="col-md-12" id="3" type="text" name="correo" />
  </div>

  <div class="col-md-12 row">
    <button class="col-md-4 btn btn-default">Cancelar</button>
    <button class="col-md-4 btn btn-success">Guardar</button>
  </div>
  <div class="col-md-12 row">
    <a href=""><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
  </div>

</form>
